@font-face { font-family: Rubik; src: url('Rubik-Medium.ttf'); } 

body, *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Rubik, sans-serif;
	color: white;
}
body{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: #DB5648;
}

#wrapper{
	margin: 40px auto;
	width: 50vw;
	height: auto;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
#wrapper img{
	height: 120px;
	width: auto;
	margin: 0 auto 32px auto;
}
#wrapper h1, #wrapper p{
	text-align: center;
}
#wrapper h1{
	font-size: 96px;
}
#wrapper p{
	font-size: 40px;
}
#wrapper > *{
	margin: 0 0 32px;
}
span{
	
}
button{
	height: 42px;
	width: 50%;
	color: black;
	font-size: 20px;
}

#social a{
	cursor: pointer;
}