/* ==========================
-- BODY                    --
========================== */

body, *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	width: 100vw;
	background: #DB5648;
}
h1, h2, h3, h4, h5, p, a, button, span{
	font-family: 'Rubik', sans-serif;
	color: white;
}


/* ==========================
-- LANDING                 --
========================== */

#landing{
	height: 99vh;
	width: 100vw;
	background-image: url('hero.jpg');
	background-size: cover;
	background-position: 58% center;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
}
#landing img{
	margin: 0 auto 32px auto;
}
#introText{
	width: 65%;
	padding-left: 36px;
}
#introText h1, #introText p{
}
#introText h1{
	font-size: calc(3vw + 10px);
}
#introText p{
	font-size: calc(1.8vw + 2px);
	line-height: 3.8vw;
	margin-left: 120px;
}
#introText p span{
	background-color: #DB5648;
	font-weight: 700;
	padding: 1vw;
	margin: 4px 0;
}
#header{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#header h1{
	margin: 0 36px;
}
#header a, #header img{
	margin: 0;
}
p#more{
	font-size: 12px;
}


/* ==========================
-- GENERATOR               --
========================== */

#generator{
	margin: 40px auto 0 auto;
	width: 75vw;
	height: 100vh;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
#generator img, #landing img{
	height: 110px;
	width: auto;
}
#generator img{
	margin-bottom: 24px;
}
#generator h1, #generator p{
	text-align: center;
}
#generator h1{
	font-size: calc(4vw + 18px);
	font-weight: 700;
}
#generator p{
	font-size: calc(2.5vw + 10px);
}
#generator h1, #generator p, #generator button{
	margin: 0 0 32px;
}
p#copy{
	position: relative;
	height: 26px;
	font-size: 12px;
	color: #DB5648;
	border-radius: 5px;
	background-color: white;
	padding: 6px 10px;
	cursor: pointer;
	transition: all 200ms ease;
}
p#copy:hover{
	text-decoration: underline;
}
p#copy:active{
	padding: 9px 10px 3px 10px;
}
#copier{
	width: 80%;
	position: absolute;
	left: 50%;
	bottom: 6px;
	opacity: 0;
	transition: all 600ms ease;
}
#copier.copied{
	left: 85%;
	opacity: 1;
}
#generator > button{
  display: block;
  font-size: 20px;
  text-align: center;
  background-color: #DB5648;
  height: 60px;
  width: 180px;
  padding: 10px 16px;
  line-height: 36px;
  border-radius: 5px;
  border: 4px solid white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  transition: all 200ms ease;
  cursor: pointer;
  outline: none;
}
#generator > button:hover{
  	color: #DB5648;
  	background-color: white;
  	transform: scale(1.1);
  	box-shadow: 0 4px 4px rgba(0,0,0,1);
}
#generator > button:active{
	transform: scale(1);
	transform: translateY(4px);
}
#social{
	width: 50vw;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
#social a{
	cursor: pointer;
	transition: all 0.2s ease-in;
	border-radius: 4px;
	border: none;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	margin: 0 6px;
	text-align: center;
}
#social a:hover{
	transform: translateY(-4px);
	box-shadow: 0 2px 5px rgba(0,0,0,0.35);
}
#social a svg{
	fill: #fff;
	height: 20px;
	width: 20px;
	position: relative;
	top: 10px;
	vertical-align: top;
	transform: scale(1.25);
}
g{
	transform-origin: 0px 0px 0px;
}
#fb{
	background-color: #3B5998;
}
#twitter{
	background-color: #55acee;
}
#email{
	background-color: #7d7d7d;
}

/* BUDDY SECTION */
#buddy{
	width: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	margin-top: 24px;
}
#buddy p{
	text-align: center;
	font-size: 14px;
	width: 320px;
	margin: 12px 0;
}
#buddy a{
	font-size: 14px;
	text-align: center;
	background-color: #DB5648;
	height: 48px;
	width: 140px;
	line-height: 44px;
	border-radius: 5px;
	border: 3px solid white;
	box-shadow: 0 4px 10px rgba(0,0,0,0.25);
	transition: all 200ms ease;
	cursor: pointer;
	text-decoration: none;
}
#buddy a:hover{
	background-color: white;
	color: #DB5648;
	transform: translateX(8px);
	box-shadow: -4px 2px 5px rgba(0,0,0,0.35);
}



/* ==========================
-- MEDIA QUERIES           --
========================== */

@media screen and (max-width: 767px){

	#introText{
		width: 80%; 
	}
	#header{
		flex-flow: column;
		align-items: flex-start;
	}
	#introText h1{
		margin: 0;
	}
	#introText img{
		margin-bottom: 36px;
	}
	#introText p{
		font-size: 14px;
		margin-left: 0;
		line-height: 
	}
	#introText p span{
		padding: 0.4vw;
	}
	#generator{
		width: 85vw;
	}
	#buddy{
		flex-flow: column;
	}
	#buddy p{
		text-align: center;
		margin-bottom: 12px;
	}
}
@media screen and (max-width: 478px){

	#introText{
		width: 90%;
	}
	#introText p{
		line-height: 20px;
	}
	#generator > button:hover{
		color: white;
  		background-color: inherit;
  		transform: none;
  		box-shadow: none;
	}
	p#copy:hover{
		text-decoration: none;
	}
}













