/* ==========================
-- BODY                    --
========================== */

html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
  background-color: white;
  min-height: 100vh;
}
p, h1, h2, h3, h4, h5, li, a{
  color: white;
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
}
.unselectable {
  user-select: none;
}


/* ==========================
-- PAGE                    --
========================== */

.page{
  background-color: white;
}
div.left{
  position: fixed;
  top: 0;
  left: -140px;
  width: 140px;
  height: 100%;
  background-color: black;
  animation: leftout 1200ms forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes leftout{
  from { left: -140px }
  to { left: 0 }
}
div.top{

}
#logo{
  width: 110px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}
div.left h3{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 18px;
  color: white;
}
div.mid{
  margin-top: calc(50vh - 195px);
}
div.mid h1{
  font-family: 'FontAwesome';
  font-size: 84px;
  text-align: center;
}
div.bottom{
  margin-top: calc(50vh - 186px);
}
.li{
  font-family: Courier;
  font-size: 24px;
  text-align: center;
  display: block;
  padding: 6px;
  margin-top: 12px;
  transition: all 400ms ease;
}
.li:hover{
  background-color: white;
  color: black;
}















