/* ==========================
-- DOCUMENT                --
========================== */

#progressBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4px;
  appearance: none;
  border: none;
  background-color: transparent;
  color: red;
  z-index: 99999;
}

#progress{
  background-color: red;
  width: 0;
  height: 4px;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
}

p, h1, h2, h3, h4, h5, li{
  cursor: default;
}

a{
  text-decoration: none;
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
}

h1{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0;
}

h2{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 36px;
  letter-spacing: 0;
}

h3{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 28px;
  letter-spacing: 0.5px;
  text-align: center;

  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;

  grid-column: subtitle;
  align-self: center;
  justify-self: center;
}

h4{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 0;
}

p.pHero{
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  letter-spacing: 0.25px;
}

p.pFeatured{
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
  letter-spacing: 0.5px;
}

p.pCaption{
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
  color: #ddd;
  /*opacity: 0.85;*/
  text-align: right;

  grid-column: caption;
  align-self: center;
  padding: 24px;
  border-top: 1px solid rgba(255,255,255,0.75);
  border-bottom: 1px solid rgba(255,255,255,0.75);
}

p{
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.75em;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


/* ==========================
-- NAV                     --
========================== */

nav{
  position: fixed;
  width: 100vw;
  transition: all 250ms ease;
  z-index: 9999;
}

.jumpLinks{
  padding: 130px 16px 0 16px;
  width: 25vw;
  background-color: black;
  justify-self: center;
}

.jumpTitle{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 52px;
  color: white;
  border-bottom: 1px solid white;
  display: block;
  margin-bottom: 15px;
}

.jumpLinks a{
  color: white;
  display: block;
  opacity: 0.35;
}

.navTitle, .navLinks a{
  color: black;
  display: block;
}

.navTitle{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.navTitleLink{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  transition: all 500ms ease;
}
.navTitleLink:hover{
  transform: translateX(4px);
}

.navigator{
  overflow-y: scroll;
  max-height: calc(100vh - 256px);
  text-indent: 18px;
  margin-bottom: 15px;
}

.navigator a{
  transition: all 500ms ease;
}

.navigator a:hover{
  opacity: 1;
}

.active{
  opacity: 1!important;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}

.siteNav{
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 52px;
  /*background-color: white;*/
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;

  display: flex;
}

.navLinks{
  width: 75vw;
  display: inline-block;
  padding: 130px;
  /*background-color: white;*/
  position: relative;
}

.navLinks .navigator a{
  z-index: 99;
  opacity: 0.35;
}

.navLinks .navigator a:hover{
  opacity: 1;
}

div.navHover{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-position: 25% 198px;
  transition: background 500ms, opacity 1s;
  z-index: -1;
  display: none;
}

.navLinks .navigator a:hover ~ div.navHover{
  opacity: 1;
  background-position: 75% 198px;
  background-size: auto 208px;
  background-repeat: no-repeat;
}

#sustain:hover ~ div.navHover{
  background-image: url('assets/sustain/unplug_.png');
  /*background-color: #2C67D5;*/
}

#depot:hover ~ div.navHover{
  background-image: url('assets/depot/navThumb_.png');
  /*background-color: #FE6900;*/
}

#america:hover ~ div.navHover{
  background-image: url('assets/america/navThumb.png');
  /*background-color: #333;*/
}

#twitch:hover ~ div.navHover{
  background-image: url('assets/twitch/navThumb.png');
  /*background-color: #6C3AAA;*/
}

div.navBG{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: -2;
}

#credits{
  font-size: 10px;
  letter-spacing: 1px;
}

#page-nav{
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 56px;
  height: 56px;
  padding: 6px;
  background-color: black;
  display: flex;
  flex-flow: column;
  z-index: 999;
}
#page-nav img{
  height: 32px;
  width: auto;
}
#page-nav p{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 12px;
  text-align: center;
}



/* ==========================
-- PAGE                    --
========================== */

.unselectable {
  user-select: none;
}

.page{
  display: grid;
  grid-row-gap: 120px;
  grid-column-gap: ;
  grid-template-columns: [header-start caption-start sidebar-start] 1fr 1fr [header-end caption-end img-start subtitle-start] 1fr [sidebar-end subtitle-end] 1fr [content-start] 6fr [img-end content-end gutter-start] 1fr [gutter-end deadspace] 1fr;
  grid-auto-rows: minmax(100px, auto);
}

.content{
  grid-column: content;
  align-self: center;
}

.content-black, .subtitle-black{
  color: white;
}

#ovSub{
  margin: 80px 0 0 0;
}

.image{
  grid-column: img;
  border: 4px solid white;
  box-shadow: 16px 16px black;
}

.image-odd{
  grid-column: img;
}

.smImg{
  max-width: 16.6vw;
}

.mdImg{
  max-width: 80%;
}

.lgImg{
  max-width: 100%;
}

.iframer{
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.iframer iframe{
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.inlink{
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px dashed rgba(0,0,0,0.75);
  text-decoration: none;
  color: black;
  transition: border 250ms;
}

.inlink:hover{
  border-bottom: 1px solid rgba(0,0,0,0.75);
}

.bolded{
  display: block;
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 24px;
  position: relative;
}

#product::after{
  content: 'PRODUCT DESIGN';
  position: absolute;
  bottom: 0;
  font-size: 10em;
  opacity: 0.15;
}

.sub-bolded{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 12px;
  opacity: 0.75;
  line-height: 2.5em;
}

blockquote.quote{
  position: relative;
  padding: 12px 2.25em;
  background-color: #eee;
  border-left: 4px solid black;
  border-right: 4px solid black;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  max-width: 90%;
  line-height: 2em;
  opacity: 0.75;
  widows: 3;
  orphans: 3;
}
blockquote.quote::before{
  content: '\201C';
  position: absolute;
  top: 0.25em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font-family: Arial;
  font-size: 6em;
  font-style: normal;
  opacity: 0.25;
  z-index: 1;
}

.black-top, .black-bottom, .black-bg{
  position: relative;
}
.black-bg{
  background-color: black;
}
.black-top::after, .black-bottom::before{
  content: '';
  display: block;
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100%;
  z-index: -99;
}
.black-top::after{
  top: 50%;
}
.black-bottom::before{
  bottom: 50%;
}

a.button{
  grid-column: content;
  display: block;
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  color: black;
  background-color: white;
  height: 60px;
  width: 50%;
  padding: 10px 16px;
  line-height: 36px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 4px 4px white;
  transition-property: color, background-color, border, box-shadow, transform;
  transition-duration: 400ms;
  cursor: pointer;
}
a.button-white{
  color: white;
  background-color: black;
  border: 1px solid white;
  box-shadow: 4px 4px black;
}
a.button:hover{
  color: white;
  background-color: black;
  border: 2px solid white;
  animation: btn-animate 4s linear infinite;
  transform: scale(1.1);
}
a.button-white:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}

@keyframes btn-animate{
  0%{ box-shadow: -10px 4px #FF5429; }
  12.25%{ box-shadow: 10px 4px #FF5429, 10px -4px #2969FF; }
  25%{ box-shadow: 10px -4px #FF5429; }
  37.5%{ box-shadow: -10px 4px #FF5429, -10px -4px #FF5429; }
  50%{ box-shadow: -10px -4px #FFBF29; }
  62.5%{ box-shadow: 10px -4px #FF5429, 10px 4px #2969FF; }
  75%{ box-shadow: 10px 4px #FF5429; }
  87.5%{ box-shadow: -10px -4px #FF5429, -10px 4px #FF5429; }
  100%{ box-shadow: -10px 4px #FFBF29; }
}

.el{
  opacity: 0;

}

.el-in{
  transform: translateY(150px);
  animation: el-in 0.8s ease forwards;
}
.el-in-sub{
  transform: translateX(-75px) rotate(180deg);
  animation: sub-in 0.8s ease forwards;
}
.el-in-media{
  transform: translate(-50px,100px);
  animation: media-in 0.8s ease forwards;
}
@keyframes el-in{
  to { transform: translateY(0); opacity: 1; }
}
@keyframes sub-in{
  to { transform: translateX(0) rotate(180deg); opacity: 1; }
}
@keyframes media-in{
  to { transform: translate(0,0); opacity: 1; }
}

footer{
  margin-top: -120px;
  z-index: 99;
}
.footer-left{
  grid-column: sidebar;
  padding: 40px 0;
  text-align: center;
}

#email{
  display: block;
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
  width: auto;
  padding: 6px 10px;
  cursor: pointer;
  transition: transform 200ms;
}

#email:hover{
  transform: translateY(-3px);
}
.social{
  display: flex;
  justify-content: space-around;
  max-width: 50%;
  margin: 24px auto 0 auto;
}
.social a{
  padding: 4px;
  transition: transform 200ms;
}
.social img{
  height: 24px;
}
.social a:hover{
  transform: translateY(-3px);
}
.footer-right{
  grid-column: sidebar-end / -1;
  padding: 40px 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-right a{
  color: white;
}



/* ==========================
-- CONTENT                 --
========================== */

#sideBlack{
  grid-row: 1/29;
  grid-column: sidebar;
  background-color: black;
  transition: background-color 500ms;
  z-index: -1;
}

#empty{
  grid-row: 1/2;
  grid-column: content;
}

.menu, .home{
  transition: transform 250ms;
}
.menu:hover, .home:hover{
  transform: scale(1.1);
}

.icons{
  grid-row: 1/2;
  grid-column: header;
  position: sticky;
  background-color: black;
  top: 0;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  will-change: transform;
  transition: transform 1s, opacity 0.35s;
  z-index: 9997;
}
.jump-links{
  background-color: black;
  font-size: 18px;
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: white;
  width: 100vw;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 25vw;
  position: absolute;
  top: 24px;
  left: 0;
  box-shadow: 0 24px black, 0 -24px black;
  opacity: 0;
  transition: opacity 400ms;
  z-index: -99;
  display: none;
}
.jump-title{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
}
.jump-links > a.jump-link{
  color: white;
  font-size: 18px;
  opacity: 0.45;
  transition: opacity 250ms;
}
a.jump-link:hover{
  opacity: 1;
}
.menu:hover ~ .jump-links, .jump-links:hover{
  display: flex;
  opacity: 1;
}

.nav-aid{
  font-weight: 400;
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.65;
}

.icons-up{
  transform: translateY(-200px);
  opacity: 0;
}

.icons a{
  font-size: 0;
}

.icons img{
  width: auto;
  height: 40px;
  margin: 6px 12px;
}

.row{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: inherit;
  grid-row-gap: 60px;
}

.image-row{
  display: grid;
  grid-template-columns: inherit;
  grid-column: 1/-1;
  margin-top: 60px;
}
.image-row p{
  grid-column: caption;
}

.image-row img{
  grid-column: img;
}

.row-new{
  margin-top: 60px;
}
#hero{
  grid-row: 1;
  grid-column: img;
  height: auto;
  width: auto;
  max-width: 17vw; 
  max-height: 65vh;
  margin-top: -80px;
}

#heroText{
  grid-row: 1;
  padding: 0 0 0 8vw;
  margin-top: -80px;
}

#titleBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titleBlock a{
  margin-right: 16px;
  padding: 16px;
  transition: all 250ms ease;
}
#titleBlock a:hover{
  transform: scale(1.2);
}

#titleBlock img{
  height: auto;
  width: auto;
  max-height: 40px;
  max-width: 40px;
}

.discipline, .ux{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
  border-bottom: 1px solid transparent;
}
div.disciplines{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
p.ux{
  color: black;
  font-size: 16px;
  margin-top: 8px;
}
.discipline{
  color: #777;
  text-align: center;
  min-width: 60px;
  margin: 8px 12px 0 0;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 250ms ease;
}

.discipline:hover{
  color: black;
  box-shadow: 0 0 16px rgba(0,0,0,0.15);
  border-bottom: 1px solid black;
  transform: translateY(-2px);
}
a.discipline:active{
  transform: scale(1) translateY(2px);
}

#ovText{
  margin-top: 80px;
}

.sectionNumber{
  grid-row: 1;
  grid-column: sidebar;
  background-color: white;
  align-self: center;
  text-align: center;
  padding: 40px 0;
  margin: 120px 0 -60px 0;
  z-index: 9998;
}
.sectionTitle{
  grid-row: 1;
  grid-column: 3 / -1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  align-self: center;
  padding: 40px 0 40px 8.3vw;
  margin: 120px 0 -60px 0
}

#ui-black{
  height: calc(120% + 120px);
  margin-top: 20%;
}

#ui-black-2{
  height: calc(100% + 50px);
  margin-top: 220px;
}

.two{
  grid-row: 2;
}

.three{
  grid-row: 3;
}

.four{
  grid-row: 4;
}

.five{
  grid-row: 5;
}

.six{
  grid-row: 6;
}

.seven{
  grid-row: 7;
}

.eight{
  grid-row: 8;
}

.nine{
  grid-row: 9;
}

.ten{
  grid-row: 10;
}

.eleven{
  grid-row: 11;
}

.twelve{
  grid-row: 12;
}

.thirteen{
  grid-row: 13;
}

.fourteen{
  grid-row: 14;
}

.fifteen{
  grid-row: 15;
}

.sixteen{
  grid-row: 16;
}

.seventeen{
  grid-row: 17;
}

.eighteen{
  grid-row: 18;
}

.nineteen{
  grid-row: 19;
}

.twenty{
  grid-row: 20;
}

.twenty1{
  grid-row: 21;
}

.twenty2{
  grid-row: 22;
}

.twenty3{
  grid-row: 23;
}

.twenty4{
  grid-row: 24;
}

.twenty5{
  grid-row: 25;
}

.twenty6{
  grid-row: 26;
}

.twenty7{
  grid-row: 27;
}

.twenty8{
  grid-row: 28;
}

.twenty9{
  grid-row: 29;
}





/* ==========================
-- SCREENS                 --
========================== */

@media screen and (max-width: 900px){


  #sideBlack{

  }

  .icons{
    position: fixed;
    flex-flow: column;
  }

  .icons img{
    height: calc(8.2vw - 20px);
    padding: 4px;
    margin: 6px 10px;
  }

  .image, .image-odd{
    grid-column: 3 / -2;
  }

  .content, a.button{
    grid-column: 4 / -2;
    margin-left: 24px;
  }

  .two{
    margin-top: -160px;
  }
  .two > *{
    margin-left: 24px;
  }

  #hero{
    grid-row-start: 1;
    grid-column-start: 4;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  #heroText{
    grid-row-start: 2;
    padding: 0;
  }

  h3{
    grid-column: 2/3;
  }

  p.pCaption{
    opacity: 0;
  }

}

@media screen and (max-width: 780px){

  .navLinks{
    padding: 90px;
  }

  .icons{
    width: 16.5vw;
    padding-top: 10px;
  }

  .icons img{
    height: calc(6.5vw);
    margin: 6px 10px;
  }

  #hero{
    max-width: 28vw; 
  }

  h3{
    grid-column: 1/3;
  }

}

@media screen and (max-width: 600px){

  .page{
    grid-row-gap: 60px;
  }

  .image-row, .row-new{
    margin-top: 0;
  }

  footer{
    margin-top: -60px;
  }

  .social{
    max-width: 100%;
  }

  #email{
    padding: 6px 2px;
    font-size: calc(2vw + 5px);
  }

  .navLinks{
    width: 100vw;
    padding: 30px;
  }

  .siteNav, .jumpTitle{
    font-size: 14px;
    letter-spacing: 0.5;
    line-height: 28px;
  }

  .siteNav{
    flex-flow: column;
    height: 100vh;
    background-color: white;
  }

  .jumpLinks{
    width: 100vw;
    padding: 130px 30px 30px 30px;
  }

  .navigator{
    text-indent: 6px;
  }

  .icons img{
    height: 8vw;
    margin: 6px 10px;
  }

  .image{
    border: 2px solid white;
    box-shadow: 8px 8px black;
  }

  a.button{
    width: 75%;
    font-size: 15px;
    height: 48px;
    line-height: 34px;
    padding: 6px 10px;
  }

  h1{
    font-size: 48px;
  }

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 22px;
  }

  h4{
    font-size: 18px;
  }

  p.pHero{
    font-size: 22px;
    letter-spacing: 0.25px;
  }

  p.pFeatured{
    font-size: 18px;
  }

  p.pCaption{
    display: none;
  }

  p{
    font-size: 13px;
  }

  .bolded{
    font-size: 16px;
  }

  .sectionNumber, .sectionTitle{
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 80px 0 -20px 0;
  }

  div.disciplines{
    flex-flow: column wrap;
    align-items: flex-start;
  }

  blockquote.quote{
    font-size: 14px;
  }

}
















