/* ==========================
-- BODY                    --
========================== */

html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  overflow: ;
  min-height: 100vh;
  background-color: black;
}
.navModal{
  overflow: hidden;
}
/*p, h1, h2, h3, h4, h5, li, a{
  color: white;
}*/
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
}
.unselectable {
  user-select: none;
}


/* ==========================
-- PAGE                    --
========================== */

.page{
  width: 100vw;
}

.page-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 600px 1fr 277px;
  grid-row-gap: 72px;
  background-color: white;
}
p{
  font-size: 16px;
}


/* ==========================
-- HEADER                  --
========================== */

.headerBlack{
  grid-area: 1/1/2/5;

  display: flex;
  height: 56px;
  opacity: 1;
  justify-content: space-between;
  align-items: baseline;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 99;
}
.headerWhite{
  grid-area: 1/1/2/5;

  background: -moz-linear-gradient( top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100% ); /* FF3.6-15 */
  background: -webkit-linear-gradient( top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100% ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100% ); 

  height: 56px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 0;
  z-index: 89;
}
.home{
  cursor: pointer;
  padding: 10px;
  margin: 0 32px;
}
#logo, #menuWhite, #menuBlack, #navClose{
  height: 32px;
  width: auto;
}
.menu{
  cursor: pointer;
  padding: 10px;
  margin: 0 32px;
}

/*
.menu{
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  margin: 0 32px;
}
.menu span{
  background: #fff;
  position: absolute;
  top: 18px;
  left: 6px;
  right: 6px;
  display: block;
  height: 4px;
}
.menu span::before, .menu span::after{
  content: '';
  position: absolute;
  display: block;
  background: #fff;
  left: 0;
  width: 100%;
  height: 100%;
}
.menu span::before{
  top: -9px;
}
.menu span::after{
  bottom: -9px;
}
.headerWhite .menu span, .headerWhite .menu span::before, .headerWhite .menu span::after{
  background: #000;
}
*/


/* ==========================
-- MENU                    --
========================== */

.nav{
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navWrap{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: calc( 100vh - 56px );
}
.navSpacer{
  height: 56px;
}
.navHeader{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-weight: 800;
  margin-top: 18px;
  font-size: 18px;
  text-align: center;
  color: black;
}
#about{

}
.navLinks{
  font-family: Courier;
  color: black;
  font-size: 28px;
  padding: 8px 0;
  margin: 6px;
  width: 30vw;
  text-align: center;
  transition: all 400ms ease;
}
.navLinks:hover{
  color: white;
  background-color: black;
}
.navOut{
  opacity: 1;
  visibility: visible;
}


/* ==========================
-- HERO                    --
========================== */

.hero-grid{
  width: 100vw;
  grid-area: 1/1/2/2;

  background: #000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 56px 172px 200px 172px 1fr;
}
.jumbo{
  grid-area: 2/1/5/5;
  text-align: center;
}
.jumbo-space{
  height: 168px;
  width: 100%;
}
.jumbo-txt{
  height: 200px;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.title{
  font-family: Courier;
  color: white;
  font-size: calc(2vw + 40px);
}
.divider{
  height: 8px;
  width: 200px;
  margin-top: -4px;
  background-color: white;
}
.subtitle{
  font-family: "Nunito Sans";
  font-size: 20px;
  color: white;
}


/* ==========================
-- ENTRY                   --
========================== */

.content-grid{
  width: 100vw;
  grid-area: 2/1/3/2;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-row-gap: 48px;
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 18px;
}
.descrip{
  font-size: 28px;
  color: black;
  text-align: center;
  font-weight: 600;
  grid-column: 4/10;
}
.content-grid figure{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  grid-column: 2/12;
}
.content-grid figure img{
  max-height: 560px;
  box-shadow: 0 0 1px 1px rgba(80,80,80,0.3);
  max-width: 100%;
}
.content-grid figure img.no_sh{
  box-shadow: none;
  max-height: 560px;
  max-width: 100%;
}
.content-grid figure figcaption{
  font-weight: 600;
  font-size: 14px;
  padding: 8px 0 0 0;
}
.vids{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  grid-column: 2/12;
}
.iframe{
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.iframe iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.section{
  grid-column: 3/11;
  line-height: 32px;
}
.sec-header{
  margin: 16px 0;
  position: relative;
  font-size: calc(1.17em + 10px);
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
}
.sec-header::after{
  content: '';
  position: absolute;
  top: 38px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: black;
}
.sub-header{
  font-weight: 800;
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 17px;
}
.number{
  border: 4px solid black;
  padding: 0 6px;
}
.list{
  list-style-type: none;
  padding: 8px 0;
}
.list li{
  text-indent: 16px;
  font-weight: 600;
  font-size: 16px;
}
.indent{
  font-family: Courier;
  padding: 28px 0;
  margin-left: 44px;
  font-weight: 400;
  font-size: 20px;
}
.bold{
  font-weight: 800;
}
.inlink{
  border-bottom: 1px dashed black;
}
.stat-sec{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  margin: 18px 0;
}
.stat{
  padding: 32px;
  text-align: center;
  max-width: 20vw;
  color: white;
}
.stat h2{
  font-size: 32px;
  margin-bottom: 8px;
}
#lofi{
  max-height: 480px;
}
#map{
  display: flex;
  justify-content: center;
}


/* ==========================
-- FOOTER                  --
========================== */

.footer-grid{
  grid-area: 3/1/4/2;
  background-color: black;
}
.footerNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 12px 0;
}
.foot{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 12px 0;
}
.boxed{
  text-align: center;
  color: white;
  width: 340px;
  font-family: Courier;
  font-size: 32px;
  padding: 12px 48px;
  display: block;
  border: 2px solid white;
  transition: all 200ms ease;
  cursor: pointer;
}
.boxed:hover{
  background-color: white;
  color: black;
}
.footerSoc{
  text-align: center;
  margin: 48px 0 12px 0;
}
.footerSoc p{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 800;
  vertical-align: middle;
  color: white;
  margin-bottom: 6px;
}
.social{
  margin: 0 12px;
}
.social img{
  width: 28px;
  height: auto;
  vertical-align: middle;
}



/* ==========================
-- MEDIA QUERIES           --
========================== */

@media screen and (max-width: 700px){

  .headerWhite{
    background: white;
  }
  .headerBlack, .headerWhite{
    height: 48px;
  }
  #logo, #menuWhite, #menuBlack, #navClose{
    height: 24px;
    width: auto;
  }
  .page-grid{
    grid-template-rows: 600px 1fr 377px;
  }
  .descrip{
    grid-column: 2/12;
  }
  .section{
    grid-column: 2/12;
  }
  .stat-sec{
    flex-flow: column nowrap;
  }
  .stat{
    max-width: 100%;
  }
  video{
    max-width: 100%;
  }
  .footerNav{
    flex-flow: column nowrap;
  }
  .boxed{
    width: 80vw;
    font-family: Courier;
    font-size: 24px;
  }
  .next{
    padding-top: 24px;
  }
  .navHeader{
    margin-top: 14px;
  }
  .navLinks{
    width: 65vw;
  }

}

@media screen and (max-height: 580px){

  .navHeader{
    font-size: 14px;
    margin-top: 14px;
  }
  .navLinks{
    font-size: 18px;
    padding: 6px 0;
    margin: 4px;
    width: 65vw;
  }

}





















