/* ==========================
-- BODY                    --
========================== */

html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
  background-color: white;
  min-height: 100vh;
}
p, h1, h2, h3, h4, h5, li, a{
  color: white;
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
}
.unselectable {
  user-select: none;
}
.page{
  background-color: white;
}


/* ==========================
-- HEADER                  --
========================== */

div.header{
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  top: -90px;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: black;
  animation: topout 1600ms forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes topout{
  from { top: -90px }
  to { top: 0 }
}
div.left h1, div.right h1, .li{
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
  margin: 0 36px;
}
#logo{
  width: 72px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}
div.left h3, div.right h3{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
}
div.mid{
}
div.left h1, div.right h1{
  font-family: 'FontAwesome';
  font-size: 64px;
}
.li{
  font-family: Courier;
  font-size: 22px;
  text-align: center;
  padding: 8px 16px;
  transition: all 400ms ease;
}
.li:hover{
  background-color: white;
  color: black;
}


/* ==========================
-- ENTRY                   --
========================== */

.entry{
  background-image: url("assets/america/gradient.png");
  background-position: center;
  background-size: auto 100%;
  margin-top: 80px;
}
.ovw-img, .ovw-txt{
  display: inline-block;
}
.ovw-img{
  width: 50vw;
}
.ovw-img img{
  height: 250px;
  width: auto;
}
.ovw-txt{
  width: 50vw;
}
.ovw-txt h1, .ovw-txt p{
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
}









