/* ==========================
-- BODY                    --
========================== */
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
}
body{
}
p, h1, h2, h3, h4, h5, li, a{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.unselectable {
 -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.page{
  width: 100vw;
  height: calc(100vh - 80px);
}


/* ==========================
-- LOADER                  --
========================== */
.loader{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #274CBF;
  overflow: visible;
  z-index: 99;
}
#loadergif{
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


/* ==========================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-- PAGE ONE                --
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
========================== */

/* ==========================
-- HEADER                  --
========================== */
.header {
  height: 80px;
  width: 100%;
  background-image: url('assets/header.png');
  background-size: 100% 80px;
  background-position: center;/*linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%);*/
  position: relative;
  overflow: hidden;
}
.logo-wrap{
  width: 120px;
  margin: 0 auto;
}
.logo-wrap img{
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  height: 72px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: white;
  margin-top: -14px;
}
.nav{
  font-size: 12px;
  font-weight: 400;
  transition: all 400ms ease;
}
.nav-middle{
  width: 70px;
}
.nav-on{
  font-weight: 700;
}

/* ==========================
-- P1:CONTENT              --
========================== */
.p1content{
  width: 100%;
  position: relative;
  height: calc(100vh - 80px);
  overflow: hidden;
}
.sec1{
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  top: 60px;
  transform: translateX(-50%);
  background-color: white;
}
.sec1 h1{
  font-family: 'Crete Round', serif;
  font-size: 14vmin;
}
.sec1 p{
  font-size: 4vmin;
  padding: 12px;
  margin-bottom: 20px;
}

.graphics{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 12%;
  background-clip: content-box;
}
.graphics a{
  box-shadow: ;
  margin: 12px;
  cursor: zoom-in;
  transition: all 400ms ease;
  /*flex-basis: 16.66%;*/
}
.graphics a:hover{
  /*transform: scale(1.1, 1.1);
  border-radius: 5px;*/
  box-shadow: none;
}
.item{
  width: 20vmin;
  transition: all 400ms ease;
}
.item:hover{
  border-radius: 10%;
  transform: scale(1.1, 1.1);
  box-shadow: 0px 5px 12px -6px rgb(205,205,205);
}







/* ==========================
-- MEDIA QUERIES           --
========================== */

@media screen and (max-width: 415px){

  .graphics, .graphics a{
    padding: 0;
    margin: 0;
  }
  .item{
    width: 50vw;
  }

}






