/* -------------------------------

SETUP

--------------------------------*/

/* variables */

:root{
  --primary-black: black;
  --primary-white: white;
  --primary-gray: #C2C2C2;
  --secondary-black: #444;
  --secondary-white: #d8d8d8;
  --tertiary-black: #777;
  --primary-highlight: red;

  --red: rgb(255,84,41);
  --blue: rgb(41,105,255);
  --yellah: rgb(255,191,41);

  --primary-text-light: white;
  --primary-text-dark: black;

  --primary-font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  --secondary-font-family: "Fugaz One", "Helvetica Neue", cursive;
}

html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
  color: var(--primary-black);
}
a{
  text-decoration: none;
}
h1, h2, h3{
	font-family: var(--secondary-font-family);
}
p, a{
	font-family: var(--primary-font-family);
}



/* -------------------------------

BRAND

--------------------------------*/

a.button{
	width: 160px;
	height: 56px;
	display: block;
	position: relative;
	font-family: var(--primary-font-family);
	font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: var(--primary-text-dark);
  background-color: var(--primary-white);
  padding: 0 16px;
  line-height: 56px;
  border-radius: 5px;
  border: 1px solid var(--primary-black);
  /*box-shadow: 4px 4px white, 5px 5px black;*/
  transition-property: color, background-color, border, box-shadow, transform;
  transition-duration: 400ms;
  cursor: pointer;
}

a.button:hover{
	color: var(--primary-text-light);
  background-color: var(--primary-black);
  border: 2px solid var(--primary-white);
  animation: btn-animate 4s linear infinite;
  transform: scale(1.1);
}

@keyframes btn-animate{
  0%{ box-shadow: 6px 6px #FF5429; }
  12.25%{ box-shadow: -6px 6px #FF5429, 10px -4px #2969FF; }
  25%{ box-shadow: -6px -6px #FF5429; }
  37.5%{ box-shadow: 6px 6px #FF5429, -10px -4px #FF5429; }
  50%{ box-shadow: 6px -6px #FFBF29; }
  62.5%{ box-shadow: -6px -6px #FF5429, 10px 4px #2969FF; }
  75%{ box-shadow: -6px 6px #FF5429; }
  87.5%{ box-shadow: 6px -6px #FF5429, -10px 4px #FF5429; }
  100%{ box-shadow: 6px 6px #FFBF29; }
}

a.active{
	color: var(--primary-white);
	background-color: var(--primary-black);
}

.define{
	position: relative;
	border-bottom: 1px dashed blue;
	transform: scale(1.2);
	cursor: pointer;
}
.define::after{
	content: '';
	position: absolute;
	width: 120px;
	padding: 6px;
	border: 1px solid blue;
	background-color: white;
	font-size: 0.8em;
	line-height: 1.2em;
	opacity: 0;
	transform: scale(0.25);
	transition: all 250ms;
}
.define:hover::after{
	opacity: 1;
	transform: scale(1);
}
#dirtbag::after{
	content: '"Dirtbag" is an affectionate term meaning one who lives outside and rock climbs full-time, for fun.';
}

#job-title{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 14px;
	color: #777;
	letter-spacing: 0.15em;
}

.overlay{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  background: repeating-linear-gradient(
  	135deg,
  	transparent 0px,
  	transparent 5px,
  	black 5px,
  	black 6px
		),
  	repeating-linear-gradient(45deg,
  	transparent 0px,
  	transparent 5px,
  	black 5px,
  	black 6px
  	);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 600ms;
  z-index: 99;
	}

	.overlay .cancel{
		position: fixed;
	  width: 100%;
	  height: 100%;
	  cursor: default;
	  overflow: hidden;
	}
	.overlay:target{
		visibility: visible;
		opacity: 1;
	}

	.popup{
		position: relative;
		padding: 32px 10vw;
		height: 75%;
		background: #fff;
	  border: 1px solid black;
	  display: flex;
	  flex-flow: column;
	  align-items: center;
	  justify-content: center;
	}

	.popup-section{
		padding: 16px 0;
	}

	.popup-section a{
		margin: 12px;
		display: flex;
		transition: transform 400ms;
	}
	.popup-section a:hover{
		transform: scale(1.1);
	}

	.popup h1{
		text-align: center;
		margin: 20px;
	}

	.popup-content h3, .popup-content a{
		display: block;
		text-align: center;
	}
	#email-text{
		color: var(--blue);
	}
	#linked-text{
		color: var(--red);
	}
	#insta-text{
		color: var(--yellah);
	}

	.stop-scrolling {
	  height: 100%;
	  overflow: hidden;
	}



/* -------------------------------

HEADER

--------------------------------*/

header{
	position: fixed;
	top: 0;
	height: 86px;
	width: 100vw;
	padding-bottom: 6px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	/*box-shadow: 0 0 5px 8px rgba(80,80,80,0.1);*/
	z-index: 99;
	}
	a.icon{
		position: fixed;
		bottom: 24px;
		left: 24px;
		z-index: 9999;
	}
	img#icon{
		width: 48px;
		height: auto;
		padding: 12px;
	}

	#link-1{
		box-shadow: 4px 4px white, 6px 6px var(--blue);
	}
	#link-2{
		box-shadow: 4px 4px white, 6px 6px var(--red);
	}
	#link-3{
		box-shadow: 4px 4px white, 6px 6px var(--yellah);
	}

.mobile-scroll-wrapper{
	display: none;
}



/* -------------------------------

PARALLAX

--------------------------------*/

.base-wrapper{
	height: 100vh;
	position: sticky;
	top: 0;
}

.parallax-container{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	perspective: 8px;
	perspective-origin: 0 0;
}

.preserver{
	transform-style: preserve-3d;
}

.object-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: none;
  transform-origin: 0 0;
}

.background{
	width: 100vw;
	display: flex;
	align-items: flex-end;
	position: sticky;
	bottom: 0;
	transform-origin: 0 0;
	transform: translateZ(0px);
	}
	.background img{
		position: relative;
		width: 100%;
	}
	.cloud{
		z-index: 99;
	}
	#clouds-1{
		transform: translateX(-200vw);
		animation: drift-1 18s linear infinite;
	}
	#clouds-2{
		transform: translateX(-300vw);
		animation: drift-2 32s linear infinite;
		z-index: -10;
	}
	#clouds-3{
		transform: translateX(-400vw);
		animation: drift-3 26s linear infinite;
	}

	@keyframes drift-1{
		0%{  }
		100%{ transform: translateX(0); }
	}
	@keyframes drift-2{
		0%{  }
		100%{ transform: translateX(-100vw); }
	}
	@keyframes drift-3{
		0%{  }
		100%{ transform: translateX(-200vw); }
	}

.portrait{
	width: 50vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	transform-origin: 0 0;
	transform: translateZ(0px);
	z-index: 10;
	}
	.portrait img{
		position: relative;
		width: 35vw;
		height: auto;
		padding: 5px;
		border: 1px solid var(--primary-gray);
		background-color: white;
		box-shadow: -5px 5px white, -6px 6px var(--primary-gray), 5px -5px white, 6px -6px var(--primary-gray);
	}
	.portrait img::after{
		content: ' ';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 10px;
		left: 10px;
		bottom: -10px;
		right: -10px;
		border: 8px solid black;
	}

.logo{
	transform: translateZ(4px) scale(0.5);
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: -1;
	}
	.logo-image{
		width: 35vw;
		height: 35vw;
	}
	.logo-spacer{
		width: 35vw;
	}

.text{
	transform: translateZ(3px) scale(0.625);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	top: calc(10vw + 1vh);
	}
	.intro-text{
		width: 38vw;
		padding: 4px;
	}
	.text-spacer{
		width: 38vw;
	}
	.horiz-spacer{
		width: 100vw;
		height: 100vh;
	}
	.intro-text h1, .intro-text p{
		font-family: var(--primary-font-family);
	}
	.intro-text p{
		font-size: calc(1vw + 6px);
		line-height: 1.5em;
	}
	.intro-text h1{
		font-family: var(--secondary-font-family);
		font-size: calc(3vw + 12px);
		line-height: 1.2em;
	}

.scroll{
	transform: translateZ(7px) scale(0.125);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
  align-items: center;
	}
	.scrl-spacer{
		width: 100vw;
		height: calc(100vh - 100px);
	}
	.scroller {
	  position: relative;
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	  height: 48px;
	  width: 48px;
	  border-radius: 100%;
	  /*box-shadow: 0 0 8px var(--yellah);*/
	  background: #FFFFFF;
	}
	.scroll-indctr{
		position: relative;
		width: 48px;
		height: 48px;
		padding: 4px;
		border-radius: 100%;
		border: 3px solid var(--yellah);
		z-index: 99;
	}
	.scroller::after {
	  opacity: 0;
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  right: 0;
	  bottom: 0;
	  content: '';
	  height: 100%;
	  width: 100%;
	  border: 8px solid var(--red);
	  border-radius: 100%;
	  -webkit-animation-name: ripple;
	          animation-name: ripple;
	  -webkit-animation-duration: 2.5s;
	          animation-duration: 2.5s;
	  -webkit-animation-delay: 0s;
	          animation-delay: 0s;
	  -webkit-animation-iteration-count: infinite;
	          animation-iteration-count: infinite;
	  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
	          animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
	  z-index: -1;
	}
	.scroller::before {
	  opacity: 0;
	  display: flex;
	  flex-direction: row;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  right: 0;
	  bottom: 0;
	  content: '';
	  height: 100%;
	  width: 100%;
	  border: 8px solid var(--blue);
	  border-radius: 100%;
	  -webkit-animation-name: ripple;
	          animation-name: ripple;
	  -webkit-animation-duration: 2.5s;
	          animation-duration: 2.5s;
	  -webkit-animation-delay: 0.45s;
	          animation-delay: 0.45s;
	  -webkit-animation-iteration-count: infinite;
	          animation-iteration-count: infinite;
	  -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
	          animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
	  z-index: -1;
	}

	@-webkit-keyframes ripple {
	  0% {
	    opacity: 1;
	    -webkit-transform: scale3d(0.75, 0.75, 1);
	            transform: scale3d(0.75, 0.75, 1);
	  }
	  25%{
	  	opacity: 1;
	  }
	  100% {
	    opacity: 0;
	    -webkit-transform: scale3d(1.5, 1.5, 1);
	            transform: scale3d(1.5, 1.5, 1);
	  }
	}
	@keyframes ripple {
	  0% {
	    opacity: 1;
	    -webkit-transform: scale3d(0.75, 0.75, 1);
	            transform: scale3d(0.75, 0.75, 1);
	  }
	  25%{
	  	opacity: 1;
	  }
	  100% {
	    opacity: 0;
	    -webkit-transform: scale3d(1.5, 1.5, 1);
	            transform: scale3d(1.5, 1.5, 1);
	  }
	}

.sun{
	transform: translateZ(-1px) scale(1.125);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	z-index: -1;
	}
	.horizo-spacer{
		width: 100vw;
		height: 75vh;
	}
	#sun{
		width: 30vw;
		animation: sunspin 8s linear infinite;
	}

	@keyframes sunspin{
		0%{ transform: rotate(0deg); }
		100%{ transform: rotate(360deg); }
	}



/* -------------------------------

WORK

--------------------------------*/

.work-spacer{
	width: 100vw;
	height: 150px;
}

.section-wrapper{
	position: sticky;
	top: 80px;
	height: calc(100vh - 80px);
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	background-color: var(--primary-white);
}

.descrip > h1{
	text-align: center;
	text-decoration: underline;
	/*margin-bottom: 48px;*/
}

.work-dscrp{
	text-align: center;
}

.entry-wrapper{
	width: 100%;
	padding: 0 2.5vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.entry, .entry h1, .entry p{
	cursor: pointer;
}

.box{
	height: 260px;
	width: 260px;
	padding: 8px;
	background-color: white;
	background-size: contain;
	border: 1px solid black;
	margin-bottom: 12px;
	transition-property: transform, border;
	transition-duration: 250ms;
}

.entry h1, .entry p{
	text-align: center;
}

.entry h1{
	font-family: var(--secondary-font-family);
	font-size: 28px;
	margin: 8px 0;
}

.entry p{
	font-family: var(--primary-font-family);
	font-size: 14px;
	color: #777;
}

#google{
	background-image: url('assets/home/google.jpg');
}
#crooked{
	background-image: url('assets/home/crooked.jpg');
}
#sustain{
	background-image: url('assets/home/sustain.jpg');
}

#cola{
	background-image: url('assets/home/cola.jpg');
}
#book{
	background-image: url('assets/home/book.jpg');
}
#biff{
	background-image: url('assets/home/biff.jpg');
}

.entry:hover > .box{
	transform: scale(1.1);
	border: 3px solid black;
}













/* -------------------------------

MEDIA

--------------------------------*/

@media screen and (max-width: 720px){

	body{
		width: 100vw;
		overflow-x: hidden;
	}

	a.button{
		width: 25%;
		font-size: 18px;
		height: 48px;
		line-height: 48px;
	}

	.parallax-container{
		position: relative;
		width: 100vw;
		height: 100vh;
		overflow-x: visible;
		overflow-y: scroll;
		perspective: none;
		perspective-origin: 0 0;

		display: flex;
		flex-flow: column wrap;
	}

	.background{
		bottom: 10vh;
		position: absolute;
		width: 100vw;
		flex: 0 0 100%;
	}

	.portrait{
		position: static;
		margin-top: 100px;
		width: 100vw;
		height: auto;
	}
	.portrait img{
		width: 55vw;
		height: 55vw;
		padding: 6px;
	}

	.object-wrapper{
		position: static;
		margin: 72px 0;
	}

	.logo{
		display: none;
	}

	.scroll{
		display: none;
	}

	.text{
		position: absolute;
		bottom: 120px;
		transform: none;
		top: auto;
		z-index: 10;
		margin: 0;
	}

	.sun{
		transform: none;
		position: absolute;
		justify-content: center;
		align-items: center;
	}
	#sun{
		margin-top: 64px;
	}

	.logo-spacer, .horiz-spacer, .text-spacer, .horizo-spacer{
		display: none;
	}

	.intro-text{
		width: 70vw;
		background-color: transparent;
	}

	.intro-text > *{
		text-align: center;
	}

	.intro-text p{
		font-size: calc(1.5vw + 6px);
	}

	#job-title{
		font-size: 10px;
	}

	.mobile-scroll-wrapper{
		width: 100vw;
		display: block;
		position: fixed;
		bottom: 24px;
		display: flex;
		justify-content: center;
		z-index: 97;
	}
	
	.scroller::before, .scroller::after{
		z-index: 1;
	}
	.scroll-indctr{
		background-color: white;
		z-index: 98;
	}


	/* sections */

	.section-wrapper{
		height: auto;
		padding: 80px 0;
		z-index: 98;
	}

	#section-spacer{
		display: none;
	}

	#work-wrapper{
		position: relative;
		top: auto;
		bottom: 0;
	}

	.descrip{
		position: sticky;
		top: 80px;
		background-color: white;
		padding-bottom: 32px;
	}

	.entry-wrapper{
		margin-top: 16px;
	}

	.entry{
		margin-bottom: 64px;
	}



}
























