/* ==========================
-- DOCUMENT                --
========================== */


/* variables */

:root{
  --primary-black: black;
  --primary-white: white;
  --secondary-black: #444;
  --secondary-white: #d8d8d8;
  --tertiary-black: #777;
  --primary-highlight: red;

  --primary-text-light: white;
  --primary-text-dark: black;

  --bb-blue: #0055ff;

  --primary-font-family: "Fugaz One", "Helvetica Neue", serif;
  --secondary-font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
}


html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  background-color: var(--primary-white);
  transition: background-color 250ms;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* p, h1, h2, h3, h4, h5, li{
  cursor: default;
} */

a{
  text-decoration: none;
  font-family: var(--primary-font-family);
  transition: color 250ms;
}

h1, h2, h3, h4, h5 {
  font-family: var(--primary-font-family);
}

h1{
  color: var(--primary-text-dark);
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0;
  transition: color 250ms;
}

h2{
  color: var(--primary-text-dark);
  font-size: 36px;
  letter-spacing: 0;
  transition: color 250ms;
}

h3{
  font-size: 28px;
  letter-spacing: 0.5px;
}

h4{
  color: var(--primary-text-dark);
  font-size: 20px;
  letter-spacing: 0;
  transition: color 250ms;
}

p.pHero{
  font-family: var(--secondary-font-family);
  color: var(--primary-text-dark);
  font-size: 32px;
  letter-spacing: 0.25px;
  transition: color 250ms;
  font-weight: 300;
}

p.pFeatured{
  font-family: var(--secondary-font-family);
  color: var(--primary-text-dark);
  font-size: 22px;
  letter-spacing: 0.5px;
  transition: color 250ms;
}

p.pCaption{
  font-family: var(--secondary-font-family);
  color: var(--secondary-white);
  font-size: 11px;
  color: #ddd;
  /*opacity: 0.85;*/
  text-align: right;
  font-weight: 300;

  grid-column: caption;
  align-self: center;
  padding: 24px;
  border-top: 1px solid rgba(255,255,255,0.75);
  border-bottom: 1px solid rgba(255,255,255,0.75);
  transition: color 250ms;
}

p{
  font-family: var(--secondary-font-family);
  color: var(--primary-text-dark);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.75em;
  transition: color 250ms;
}

a.button{
	width: 160px;
	height: 56px;
	display: block;
	position: relative;
	font-family: var(--primary-font-family);
	font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: var(--primary-text-dark);
  background-color: var(--primary-white);
  padding: 0 16px;
  line-height: 56px;
  border-radius: 5px;
  border: 1px solid var(--primary-black);
  /*box-shadow: 4px 4px white, 5px 5px black;*/
  transition-property: color, background-color, border, box-shadow, transform;
  transition-duration: 400ms;
  cursor: pointer;
}
  a.button:hover{
    color: var(--primary-text-light);
    background-color: var(--primary-black);
    border: 2px solid var(--primary-white);
    animation: btn-animate 4s linear infinite;
    transform: scale(1.1);
  }
  @keyframes btn-animate{
    0%{ box-shadow: 6px 6px #FF5429; }
    12.25%{ box-shadow: -6px 6px #FF5429, 10px -4px #2969FF; }
    25%{ box-shadow: -6px -6px #FF5429; }
    37.5%{ box-shadow: 6px 6px #FF5429, -10px -4px #FF5429; }
    50%{ box-shadow: 6px -6px #FFBF29; }
    62.5%{ box-shadow: -6px -6px #FF5429, 10px 4px #2969FF; }
    75%{ box-shadow: -6px 6px #FF5429; }
    87.5%{ box-shadow: 6px -6px #FF5429, -10px 4px #FF5429; }
    100%{ box-shadow: 6px 6px #FFBF29; }
  }

  .discipline {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0;
    border-bottom: 1px solid black;
    border-radius: 4px;
    color: black;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    min-width: 60px;
    margin: 8px 12px 0 0;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 250ms ease;
  }
    .discipline:hover{
      color: var(--primary-text-dark);
      box-shadow: 0 0 16px rgba(0,0,0,0.24);
      border-bottom: 1px solid var(--primary-black);
      transform: translateY(-2px);
    }


/* progress bar */

#progressBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4px;
  appearance: none;
  border: none;
  background-color: transparent;
  z-index: 99999;
}

#progress{
  background-color: #FFBF29;
  width: 0;
  height: 4px;
}


/* ==========================
-- TOP CONTENT             --
========================== */

.top-block {
  margin-bottom: 200px;
}
.jumbo {
  background-color: var(--bb-blue);
  width: 100%;
  padding: 0 200px 120px;
}
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin-bottom: 48px;
  }
    .header #logo {
      width: 32px;
      height: 32px;

    }
    .header #header-spacer {
      width: 32px;
      height: 32px;
      opacity: 0;
    }
    .header h1 {
      color: white;
      font-size: 32px;
      line-height: 48px;
      letter-spacing: 2px;
    }

  .overview {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px;
  }
    .overview h4, .overview p {
      color: white;
      margin-bottom: 16px;
      max-width: 720px;
    }
  
    #jump {
      color: white;
      margin-bottom: 16px;
    }

  .links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 200px;
    margin-top: -120px;
  }
    .link {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 100%;
      max-width: 480px;
      transition: transform 400ms;
    }
    .link .link-img {
      width: 100%;
      max-width: 480px;
      height: 240px;
      border-radius: 4px;
      margin-bottom: 16px;
      box-shadow: 0 2px 16px 8px rgba(0,0,0,0.24);
      background-size: cover;
    }
    .link:not(:last-child) {
      margin-right: 80px;
    }
    .link:hover {
      transform: scale(1.1);
    }

    #bcur-link{
      background-image: url('assets/backbone/report.png');
    }
    #feed-link{
      background-image: url('assets/backbone/feed.png');
    }
    #kit-link{
      background-image: url('assets/backbone/kit.png');
    }


/* ==========================
-- ARTICLES                --
========================== */

main {
  padding-bottom: 120px;
}
main article {
  padding: 0 200px 200px;
}
  article h1 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 16px;
    padding-top: 16px;
  }
  article .descr, article section p {
    max-width: 50%;
  }

  article section {
    margin-top: 80px;
  }
  article section {
    padding: 40px 80px;
  }
  article section h3 {
    margin-bottom: 16px;
  }
  article .images {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  article .img-wrap {
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 12px 4px rgba(0,0,0,0.20);
    transition: box-shadow 400ms, transform 400ms;
  }
  article .img-wrap:not(:last-child) {
    margin-right: 5%;
  }
  article .img-wrap img {
    display: block;
    width: 100%;
    max-width: 480px;
    border-radius: 4px;
    box-shadow: 0.5em 0.5em var(--bb-blue);
    transition: box-shadow 400ms;
  }
    article .img-wrap:hover {
      box-shadow: 0 2px 16px 8px rgba(0,0,0,0.24);
      transform: translateY(-0.5em);
    }
    article .img-wrap:hover img {
      box-shadow: 1em 1em var(--bb-blue);
    }



/* ==========================
-- FOOTER                  --
========================== */

.footer-transition {
  width: 100%;
  height: 200px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 1%, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 3%, rgba(0,0,0,1) 3%, rgba(0,0,0,1) 5%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 8%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 12%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 16%, rgba(0,0,0,1) 16%, rgba(0,0,0,1) 24%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 28%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 38%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 42%, rgba(0,0,0,1) 42%, rgba(0,0,0,1) 54%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 58%, rgba(0,0,0,1) 58%, rgba(0,0,0,1) 72%);
}

.footer-content {
  background-color: black;
  padding-bottom: 80px;
}
  .footer-content h1 {
    color: white;
    text-align: center;
    margin-bottom: 64px;
  }

.entry-wrapper{
	width: 100%;
	padding: 0 2.5vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.entry, .entry h1, .entry p{
	cursor: pointer;
}

.box{
	height: 260px;
	width: 260px;
	padding: 8px;
	background-color: white;
	background-size: contain;
	border: 1px solid black;
	margin-bottom: 12px;
	transition-property: transform, border;
	transition-duration: 250ms;
}

.entry h1, .entry p{
  text-align: center;
  color: white;
}

.entry h1{
	font-family: var(--secondary-font-family);
	font-size: 28px;
	margin: 8px 0;
}

.entry p{
	font-family: var(--primary-font-family);
	font-size: 14px;
	color: #777;
}

.entry:hover > .box{
  transform: scale(1.1);
  padding: 4px;
}

#backbone{
	background-image: url('assets/home/pd.jpg');
}
#vertebrae{
	background-image: url('assets/home/vertebrae.jpg');
}
#dev{
	background-image: url('assets/home/dev.jpg');
}
#google{
	background-image: url('assets/home/google.jpg');
}
#crooked{
	background-image: url('assets/home/crooked.jpg');
}
#sustain{
	background-image: url('assets/home/sustain.jpg');
}

.credits {
  text-align: center;
  margin: 200px 0 0;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}



/* ==========================
-- LIGHTBOX                --
========================== */

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 90, 0.72);
  text-align: center;
  z-index: 99;
}
  #lb-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 24px;
  }
    #lb-larw {
      height: 40px;
      width: 40px;
      color: black;
    }
    p#lb-close {
      display: block;
      font-family: var(--primary-font-family);
      color: white;
      margin: 12px;
    }
    #lightbox img {
      display: block;
      margin: 40px auto;
      border-radius: 1px;
      box-shadow: 0 0 24px 8px #444;
      max-width: 100%;
      max-height: calc(100vh - 80px);
    }
    #lightbox #lb-content img::before {
      content: 'click anywhere to close';
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      width: 100%;
      font-size: 12px;
      color: white;
    }