/* ==========================
-- BODY                    --
========================== */

html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  overflow: ;
  background-color: black;
  min-height: 100vh;
  border-left: 15px solid black;
  border-right: 15px solid black;
}
p, h1, h2, h3, h4, h5, li, a{
  color: black;
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
}
.unselectable {
  user-select: none;
}


/* ==========================
-- PAGE                    --
========================== */

#tops{
  height: 15px;
  width: calc(100vw - 15px);
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 99;
}
.page{
  width: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr 280px;
}
.inlink{
  border-bottom: 1px dashed black;
}
.anchor{
  padding-top: 135px;
  margin-top: -135px;
}
.caption{
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 13px;
  opacity: 0.7;
}
.caption hr{
  width: 60px;
  margin-bottom: 12px;
}
.img{
  box-shadow: -10px 10px rgba(0,0,0,0.08);
}
.img img{
  width: 100%;
}


/* ==========================
-- SIDEBAR                 --
========================== */

.navbar{
  grid-area: 1/1/2/2;
  background-color: black;
  position: fixed;
  width: 280px;
  height: 100%;
  padding: 40px 25px 0 25px;
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
#logo{
  height: 52px;
  width: auto;
}
#menu{
  height: 24px;
  width: auto;
}

.navi{
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 52px;
}
.navi a, .jump, .siteNav a{
  color: white;
  display: block;
}
.navTitle{
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
.navigator{
  text-indent: 24px;
  margin-bottom: 15px;
}
.navigator a{
  opacity: 0.65;
  transition: all 500ms ease;
}
.navigator a:hover{
  opacity: 1;
}
.active{
  opacity: 1!important;
}
.hidden{
  opacity: 0;
  display: none;
}
.siteNav{
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 52px;
}
#credits{
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  padding: 10px 5px;
  background-color: black;
}


/* ==========================
-- CONTENT                 --
========================== */

.content{
  grid-area: 1/2/2/3;
  width: 100%;
  height: 100%;
  padding: 35px 55px 200px 55px;
  background-color: white;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 160px;
  grid-column-gap: 20px;
  grid-row-gap: 55px;
}
.subtitle{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.5;
}


/*#title{
  font-family: Courier;
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 60px;
}*/
.title{
  padding-top: 20px;
  padding-left: 55px;
  padding-bottom: 20px;
  background: white;
  z-index: 99;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 60px;
  margin-top: 12px;
  position: fixed;
  width: calc(100% - 310px);
}
.title h1{
  font-family: Courier;
  font-size: 56px;
  font-weight: 400;
  display: inline-block;
  margin-right: 24px;
}
.title img{
  height: 35px;
  width: auto;
  display: inline-block;
  padding: 0 15px;
  position: relative;
}
.rundownWrap{
  grid-area: 1/1/2/2;
  padding-bottom: 20px;
}
#rundown{
  margin-top: 115px;
  margin-left: 15px;
  padding: 15px;
  background-color: white;
  border: 3px solid black;
  box-shadow: -15px 15px;
}
#descrip{
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 6px;
}

.ovMainArea{
  grid-area: 2/1/3/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ovTxtSec{
  margin-bottom: 24px;
}
.ubtitle{
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 36px;
}
.ovImg{
  max-width: 35%;
}
#trumpcoin{
  width: 100%;
}
#ovCaption{
  grid-area: 2/2/3/3;
}

.context{
  grid-area: 3/1/4/2;
}
.secHead{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 6px;
}
.section p{
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 30px;
}
.statSec{
  grid-area: 4/1/5/2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  margin-top: -18px;
}
.stat{
  padding: 32px;
  text-align: center;
  max-width: 20vw;
  color: white;
}
.stat h2{
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 32px;
  margin-bottom: 8px;
  color: white;
}
.stat p{
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 15px;
}
#statCaption{
  grid-area: 4/2/5/3;
  margin-top: -18px;
}

.challenge{
  grid-area: 5/1/6/2;
}

#conceptImg{
  grid-area: 6/1/7/2;
}
#conceptCaption{
  grid-area: 6/2/7/3;
}

.research{
  grid-area: 7/1/8/2;
}
.list{
  list-style-type: none;
  padding: 8px 0;
}
.list li{
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  text-indent: 16px;
  font-weight: 600;
  font-size: 16px;
}
#researchImg{
  grid-area: 8/1/9/2;
}
#researchCaption{
  grid-area: 8/2/9/3;
}

.persona{
  grid-area: 9/1/10/2;
}
p.indent{
  font-family: Courier;
  padding: 28px 0;
  margin-left: 44px;
  font-weight: 400;
  font-size: 18px;
}
#personaImg{
  grid-area: 10/1/11/2;
}
#personaCaption{
  grid-area: 10/2/11/3;
}




@media screen and (max-width: 975px){

  body{
    background-color: white;
    border: none;
  }
  .navbar{
    position: fixed;
    width: 100vw;
    height: 100px;
    padding: 24px 25px 0 25px;
    z-index: 99;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.45), 0 -15px rgba(255,255,255,0.9)
  }
  .navi, .siteNav{
    display: none;
  }
  #credits{
    display: none;
  }
  .page{
    grid-template-columns: 1fr;
  }
  .content{
    grid-area: 1/1/2/2;
    grid-template-columns: 1fr;
    padding: 184px 25px 100px 25px;
  }
  .title{
    margin: 140px 0 10px 25px;
    padding: 10px;
    height: 64px;
    width: calc(100vw - 50px);
    position: absolute;
    z-index: 1;
    box-shadow: none;
  }
  .title h1{
    font-size: 44px;
  }
  .caption{
    display: none;
  }
  #rundown{
    margin-top: 60px;
  }
  .ovMainArea{
    flex-flow: column wrap;
  }
  .ovImg{
    max-width: 100%;
    width: calc(100% - 10px);
  }
  #trumpcoin{
    width: inherit;
  }

}


















