/* ==========================
-- DOCUMENT                --
========================== */


/* fonts
------------------------- */
@font-face{
  font-family: var(--tertiary-font-family);;
  src: url(assets/fonts/Didot.ttc);
}


/* variables 
------------------------- */

:root{
  --primary-black: black;
  --primary-white: white;
  --secondary-black: #444;
  --secondary-white: #d8d8d8;
  --tertiary-black: #777;
  --primary-highlight: red;

  --primary-text-light: white;
  --primary-text-dark: black;

  --primary-font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  --secondary-font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  --tertiary-font-family: Didot;
}



/* --- */

#progressBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4px;
  appearance: none;
  border: none;
  background-color: transparent;
  z-index: 9999;
}
#progress{
  background-color: var(--primary-highlight);
  width: 0;
  height: 4px;
}


html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  background-color: var(--primary-black);
  transition: background-color 250ms;
}


/* text styles 
------------------------- */

p, h1, h2, h3, h4, h5, li{
  cursor: default;
}

a{
  text-decoration: none;
  font-family: var(--primary-font-family);
  transition: color 250ms;
}

h1{
  font-family: var(--primary-font-family);
  color: var(--primary-text-dark);
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0;
  transition: color 250ms;
}

h2{
  font-family: var(--primary-font-family);
  color: var(--primary-text-dark);
  font-size: 36px;
  letter-spacing: 0;
  transition: color 250ms;
}

h3{
  font-family: var(--primary-font-family);
  font-size: 28px;
  letter-spacing: 0.5px;
  text-align: center;

  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: var(--primary-text-light);

  grid-column: gutter;
  align-self: center;
  justify-self: center;
  transition: color 250ms;
}

h4{
  font-family: var(--primary-font-family);
  color: var(--primary-text-dark);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  transition: color 250ms;
}

p.pHero{
  font-family: var(--secondary-font-family);
  color: var(--primary-text-dark);
  font-size: 32px;
  letter-spacing: 0.25px;
  transition: color 250ms;
}

p.pFeatured{
  font-family: var(--secondary-font-family);
  color: var(--primary-text-dark);
  font-size: 22px;
  letter-spacing: 0.5px;
  transition: color 250ms;
}

p.pCaption{
  font-family: var(--secondary-font-family);
  color: var(--secondary-white);
  font-size: 11px;
  color: #ddd;
  /*opacity: 0.85;*/
  text-align: right;

  grid-column: caption;
  align-self: center;
  padding: 24px;
  border-top: 1px solid rgba(255,255,255,0.75);
  border-bottom: 1px solid rgba(255,255,255,0.75);
  transition: color 250ms;
}

p{
  font-family: var(--secondary-font-family);
  color: var(--primary-text-dark);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.75em;
  transition: color 250ms;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}



/* ==========================
-- NAV                     --
========================== */

nav{
  position: fixed;
  width: 100vw;
  transition: all 250ms ease;
  z-index: 9999;
}

.jumpLinks{
  padding: 130px 16px 0 16px;
  width: 25vw;
  background-color: var(--primary-white);
  justify-self: center;
}

.jumpTitle{
  font-family: var(--primary-font-family);
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 52px;
  color: var(--primary-text-dark);
  border-bottom: 1px solid var(--primary-black);
  display: block;
  margin-bottom: 15px;
}

.jumpLinks a{
  color: var(--primary-text-dark);
  display: block;
  opacity: 0.35;
}

.navTitle, .navLinks a{
  color: var(--primary-text-light);
  display: block;
}

.navTitle{
  border-bottom: 1px solid var(--primary-white);
  margin-bottom: 15px;
}

.navTitleLink{
  border-bottom: 1px solid var(--primary-white);
  margin-bottom: 15px;
  transition: transform 500ms ease;
}
.navTitleLink:hover{
  transform: translateX(4px);
}

.navigator{
  overflow-y: scroll;
  max-height: calc(100vh - 256px);
  text-indent: 18px;
  margin-bottom: 15px;
}

.navigator a{
  transition: all 500ms ease;
}

.navigator a:hover{
  opacity: 1;
}

.active{
  opacity: 1!important;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}

.siteNav{
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 52px;
  /*background-color: var(--primary-white);*/
  font-family: var(--primary-font-family);

  display: flex;
}

.navLinks{
  width: 75vw;
  display: inline-block;
  padding: 130px;
  /*background-color: var(--primary-white);*/
  position: relative;
}

.navLinks .navigator a{
  z-index: 99;
  opacity: 0.35;
}

.navLinks .navigator a:hover{
  opacity: 1;
}

div.navHover{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-position: 25% 198px;
  transition: background 500ms, opacity 1s;
  z-index: -1;
  display: none;
}

.navLinks .navigator a:hover ~ div.navHover{
  opacity: 1;
  background-position: 75% 198px;
  background-size: auto 208px;
  background-repeat: no-repeat;
}

#sustain:hover ~ div.navHover{
  background-image: url('assets/sustain/unplug_.png');
  /*background-color: #2C67D5;*/
}

#depot:hover ~ div.navHover{
  background-image: url('assets/depot/navThumb_.png');
  /*background-color: #FE6900;*/
}

#america:hover ~ div.navHover{
  background-image: url('assets/america/navThumb.png');
  /*background-color: #333;*/
}

#twitch:hover ~ div.navHover{
  background-image: url('assets/twitch/navThumb.png');
  /*background-color: #6C3AAA;*/
}

div.navBG{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-black);
  z-index: -2;
}

#credits{
  font-size: 10px;
  letter-spacing: 1px;
}

#page-nav{
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 56px;
  height: 56px;
  padding: 6px;
  background-color: var(--primary-white);
  display: flex;
  flex-flow: column;
  z-index: 999;
}
#page-nav img{
  height: 32px;
  width: auto;
}
#page-nav p{
  font-family: var(--primary-font-family);
  color: var(--primary-text-dark);
  font-size: 12px;
  text-align: center;
}



/* ==========================
-- PAGE / GRID             --
========================== */

.unselectable {
  user-select: none;
}

.page{
  display: grid;
  grid-row-gap: 100px;
  grid-column-gap: ;
  grid-template-columns: [deadspace] 1fr [gutter-start] 1fr [gutter-end img-start content-start] 6fr [content-end] 1fr [sidebar-start subtitle-start] 1fr [subtitle-end img-end caption-start header-start] 1fr 1fr [header-end caption-end sidebar-end];
  grid-auto-rows: minmax(100px, auto);
}

#sideWhite{
  grid-row: 1/10;
  grid-column: sidebar;
  background-color: var(--primary-white);
  transition: background-color 250ms;
  z-index: -1;
}

#empty{
  grid-row: 1/2;
  grid-column: 1/sidebar-start;
  overflow: hidden;
}

.conveyor-b{
	display: flex;
	/*align-items: stretch;*/
	justify-content: space-around;
	width: 200%;
	height: 25%;
	/*border: 2px solid rgba(255,255,255,0.35);*/
	animation: convey-animate 5s linear infinite reverse;
}

.conveyor-b .brick{
	border-radius: 0;
}

.b-a{
	animation: convey-animate 5s linear infinite forwards;
}

.b-c{
	animation: convey-animate 5s linear infinite forwards;
}





.conveyor{
	display: flex;
	/*align-items: stretch;*/
	justify-content: space-around;
	width: 200%;
	height: 100%;
	animation: convey-animate 5s linear infinite reverse;
}
.brick{
	display: inline-block;
	height: auto;
	border-radius: 100%;
	width: 25px;
	box-shadow: inset 0 0 0 2px #000;
	animation: brick-animate 5s linear infinite reverse;
}
.bg-red{
	background-color: red;
}
.bg-yellow{
	background-color: yellow;
}
.bg-blue{
	background-color: blue;
}

@keyframes convey-animate{

	0%{
		transform: translateX(0);
	}
	20%{

	}
	50%{
		transform: translateX(-25%);
	}
	70%{

	}
	100%{
		transform: translateX(-50%);
	}

}
@keyframes brick-animate{
	0%{
		transform: scale(0.5) rotate(0);
	}
	50%{
		transform: scale(0.95) rotate(180deg);
	}
	100%{
		transform: scale(0.5) rotate(0);
	}
}


@keyframes brick-animate_1{

	0%{
		transform: rotate(180deg) scale(0.75);
		border-radius: 100%;
	}
	15%{
		transform: rotate(90deg) scale(1);
		border-radius: 50%;
	}
	30%{
		transform: rotate(0deg);
		border-radius: 0;
	}
	50%{
		transform: rotate(0deg);
		border-radius: 0;
	}
	70%{
		transform: rotate(0deg) ;
	}
	85%{
		transform: rotate(90deg) scale(1);
		border-radius: 50%;
	}
	100%{
		transform: rotate(180deg) scale(0.75);
		border-radius: 100%;
	}

}


.content{
  grid-column: content;
  align-self: center;
}

.image{
  grid-column: img;
  border: 4px solid var(--primary-white);
  box-shadow: 16px 16px var(--primary-black);
  transition: box-shadow 250ms;
}

.menu, .home{
  transition: transform 250ms;
}
.menu:hover, .home:hover{
  transform: scale(1.1);
}

.icons{
  grid-row: 1/2;
  grid-column: header;
  position: sticky;
  background-color: var(--primary-white);
  top: 0;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  will-change: transform;
  transition: transform 1s, opacity 0.35s, background-color 250ms;
  z-index: 9997;
}

.nav-aid{
  font-weight: 400;
  font-family: var(--primary-font-family);
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.65;
}

.icons-up{
  transform: translateY(-200px);
  opacity: 0;
}

.icons a{
  font-size: 0;
}

.icons img{
  width: auto;
  height: 40px;
  margin: 6px 12px;
}

.row{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: inherit;
  grid-row-gap: 60px;
  position: relative;
}

.new-row{
	grid-row: 2;
	grid-column: 1/-1;
	height: 100px;
}


/* ==========================
-- TITLE                   --
========================== */

#title{
  grid-row: 2;
}
#title h1{
  grid-column: 1/-1;
  text-align: center;
  align-self: center;
}
#title .box{

}
.title-box{
  grid-column: content;
  position: relative;
  height: 100px;
}
.title-box h4{
  padding: 12px;
  font-weight: 400;
}



/* ==========================
-- CONTENT                 --
========================== */

.box{
  grid-column: img;
  position: relative;
  background-color: var(--primary-white);
  border: 4px solid var(--primary-black);
  min-height: 120px;

  display: grid;
  grid-auto-rows: minmax(100px, max-content);
  grid-template-columns: repeat(6, 1fr);
}

.box::after{
  content: '';
  position: absolute;
  width: calc(100vw / 12);
  height: calc(100vw / 6.4);
  bottom: calc(-8.37vw);
  right: calc(4.39vw);
  background: rgba(0,0,0,0.5);
  transform: rotate(60deg);
  z-index: -1;
}

.box h4{
  grid-column: 1/-1;
  text-align: center;
  align-self: center;
  padding: 12px 32px 0 32px;
}

.box img.preview{
	grid-column: 1/-1;
	max-width: 90%;
	margin: 24px 0;
	justify-self: center;
	border: 3px solid var(--primary-black);
	box-shadow: 0 10px 6px -6px #777;
}

button.btn, a.btn{
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
  display: block;
  font-family: var(--primary-font-family);
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  color: var(--primary-text-dark);
  background-color: var(--primary-white);
  height: 60px;
  width: 60%;
  padding: 10px 16px;
  margin: 30px 0 60px 0;
  line-height: 36px;
  border-radius: 5px;
  border: 1px solid var(--primary-black);
  box-shadow: 4px 4px var(--primary-white);
  outline: none;
  transition-property: color, background-color, border, box-shadow, transform;
  transition-duration: 400ms;
  cursor: pointer;
}
button.btn-white, a.btn-white{
  color: var(--primary-text-light);
  background-color: var(--primary-black);
  border: 1px solid var(--primary-white);
  box-shadow: 4px 4px var(--primary-black);
}
button.btn:hover, a.btn:hover{
  color: var(--primary-text-light);
  background-color: var(--primary-black);
  border: 2px solid var(--primary-white);
  animation: btn-animate 4s linear infinite;
  transform: scale(1.1);
}
button.btn-white:hover, a.btn-white:hover{
  color: var(--primary-text-dark);
  background-color: var(--primary-white);
  border: 2px solid var(--primary-black);
}

@keyframes btn-animate{
  0%{ box-shadow: -10px 4px #FF5429; }
  12.25%{ box-shadow: 10px 4px #FF5429, 10px -4px #2969FF; }
  25%{ box-shadow: 10px -4px #FF5429; }
  37.5%{ box-shadow: -10px 4px #FF5429, -10px -4px #FF5429; }
  50%{ box-shadow: -10px -4px #FFBF29; }
  62.5%{ box-shadow: 10px -4px #FF5429, 10px 4px #2969FF; }
  75%{ box-shadow: 10px 4px #FF5429; }
  87.5%{ box-shadow: -10px -4px #FF5429, -10px 4px #FF5429; }
  100%{ box-shadow: -10px 4px #FFBF29; }
}



/* ==========================
-- ENTRIES                 --
========================== */

.loader{
  grid-column: 1/-1;
  padding: 0 32px 32px 32px;
  display: none;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.studioEntry{
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: black;
  box-shadow: 0 10px 6px -6px #777;
  margin: 24px 18px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  border: 3px solid black;
}

.studioEntry .gifWrap{
  position: absolute;
  background: rgba(255,255,255,0);
  z-index: 10;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.studioEntry img.entryImg{
  width: 194px;
}
.studioEntry img.tallerSquare{
  height: 100%;
  object-fit: none;
  object-position: 50% 50%;
}
.picHover, .gifHover{
  display: inline-block;
  width: 194px;
}
.gifHover{
  display: none;
}
.lightBoxed{
  position: relative;
  display: none;
}
.iphoneWrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/studio/iphone2.png');
  background-size: 100% 99%;
  background-repeat: no-repeat;
}
a.graphic, a.motion, a.threed, a.write{
  display: inline-block;
}
.lightBoxed img{
  padding: 20px;
}



/* ==========================
-- ROWS                    --
========================== */

.two{
  grid-row: 2;
}

.three{
  grid-row: 3;
}

.four{
  grid-row: 4;
}

.five{
  grid-row: 5;
}

.six{
  grid-row: 6;
}

.seven{
  grid-row: 7;
}

.eight{
  grid-row: 8;
}

.nine{
  grid-row: 9;
}

.ten{
  grid-row: 10;
}

.eleven{
  grid-row: 11;
}

.twelve{
  grid-row: 12;
}

.thirteen{
  grid-row: 13;
}

.fourteen{
  grid-row: 14;
}

.fifteen{
  grid-row: 15;
}

.sixteen{
  grid-row: 16;
}

.seventeen{
  grid-row: 17;
}

.eighteen{
  grid-row: 18;
}

.nineteen{
  grid-row: 19;
}

.twenty{
  grid-row: 20;
}

.twenty1{
  grid-row: 21;
}

.twenty2{
  grid-row: 22;
}

.twenty3{
  grid-row: 23;
}

.twenty4{
  grid-row: 24;
}

.twenty5{
  grid-row: 25;
}

.twenty6{
  grid-row: 26;
}

.twenty7{
  grid-row: 27;
}

.twenty8{
  grid-row: 28;
}

.twenty9{
  grid-row: 29;
}



/* ==========================
-- SCREENS                 --
========================== */

@media screen and (max-width: 680px){

  .icons{
    flex-flow: column;
    background-color: transparent;
  }
  .icons a{
    margin: 12px 0;
  }
  .icons img{
  	height: 32px;
  }


  .siteNav, .jumpTitle{
    font-size: 14px;
    letter-spacing: 0.5;
    line-height: 28px;
  }

  .siteNav{
    flex-flow: column;
    height: 100vh;
    background-color: var(--primary-white);
  }

  .navLinks{
    width: 100vw;
    margin-top: 72px;
    padding: 30px;
    background-color: black;
  }

  .jumpLinks{
    width: 100vw;
    padding: 60px 30px 30px 30px;
  }

  .navigator{
    text-indent: 6px;
  }

  .iphoneWrap{
  	top: 1%;
  	left: 0.75%;
  	width: 97%;
  	height: 98%;
  }




}






