/* ==========================
-- BODY                    --
========================== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, li, a{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.page{
  width: 100vw;
  height: 100vh;
}


/* ==========================
-- LOADER                  --
========================== */
.loader{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #274CBF;
  overflow: visible;
  z-index: 99;
}
#loadergif{
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* ==========================
-- PAGE ONE                --
========================== */

/** HEADER **/
.header {
  height: 80px;
  background-color: #264FBF;
}
.logo-wrap{
  width: 120px;
  margin: 0 auto;
}
.logo-wrap img{
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  height: 72px;
}

/** CONTENT **/

.container{
  width: 100%;
  position: relative;
  margin-top: 100px;
  height: 400px;
}
@keyframes test{
  0%{ margin-top: 0px; }
  50%{ margin-top: 10px; }
  100%{ margin-top: 0px; }
}
.sec1{
  width: 100vw;
  height: 262px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  animation: test 2200ms ease-in-out infinite;
}
.sec1 h1{
  font-family: 'Crete Round', serif;
  font-size: 14vmin;
}
.sec1 h2{
  font-size: 5vmin;
  letter-spacing: .3em;
  padding: 12px;
}
.sec1 h3{
  font-size: 1.25em;
  padding-bottom: 12px;
}
.sec2{
  width: 100vw;
  padding: 0 15%;
  height: 262px;
  text-align: center;
  position: absolute;
  left: 150%;
  margin-right: -50%;
  transform: translate(-50%);
  animation: test 2000ms ease-in-out infinite;
}
.sec2 h1{
  font-size: 8vmin;
  font-family: 'Crete Round', serif;
  padding-bottom: 10px;
}
.sec2 p{
  font-size: 3vmin;
  text-align: justify;
  line-height: 1.5em;
}
.sec3{
  width: 100vw;
  padding: 0 15%;
  height: 262px;
  text-align: center;
  position: absolute;
  left: 150%;
  margin-right: -50%;
  transform: translate(-50%);
  animation: test 2000ms ease-in-out infinite;
}
.sec3 h1{
  font-size: 8vmin;
  font-family: 'Crete Round', serif;
  padding-bottom: 50px;
}
.sec3 p{
  font-size: 3vmin;
  line-height: 1.5em;
}
.sec0{
  width: 100vw;
  padding: 0 15%;
  height: 262px;
  text-align: center;
  position: absolute;
  left: -50%;
  margin-right: -50%;
  transform: translate(-50%);
  animation: test 2000ms ease-in-out infinite;
}
.sec0 h1{
  font-size: 8vmin;
  font-family: 'Crete Round', serif;
  padding-bottom: 10px;
}
.sec0 p{
  font-size: 3vmin;
  text-align: justify;
  line-height: 1.5em;
}
.sec-1{
  width: 100vw;
  padding: 0 15%;
  height: 262px;
  text-align: center;
  position: absolute;
  left: -50%;
  margin-right: -50%;
  transform: translate(-50%);
  animation: test 2000ms ease-in-out infinite;
}
.sec-1 h1{
  font-size: 8vmin;
  font-family: 'Crete Round', serif;
  padding-bottom: 50px;
}
.sec-1 p{
  font-size: 3vmin;
  line-height: 1.5em;
}

@keyframes work{
  from{ background-color: rgba(38,79,191,0); }
  to{ background-color: rgba(38,79,191,1); color: white; }
}
.work{
  font-size: 3vmin;
  padding: 14px;
}
.work:hover{
  animation: work 400ms forwards;
}

/** NAV **/
.nav{
  width: 320px;
  height: 48px;
  margin: 0 auto;
  position: relative;
}
.nav p{
  font-family: 'Crete Round', serif;
}
.nav img{
  width: 32px;
}
.this{
  position: absolute;
  right: 0;
  cursor: pointer;
}
.that{
  position: absolute;
  left: 0;
  cursor: pointer;
}
.this, .that{
  height: 48px;
  line-height: 48px;
}
#thatpt{
  transform: scaleX(-1);
}
.this p, .this img, .that p, .that img{
  display: inline-block;
  cursor: pointer;
}
#or{
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  font-family: 'PT Sans', sans-serif;
  height: 48px;
  line-height: 48px;
}
.this:hover, .that:hover{
  animation: point 400ms infinite;
}
@keyframes point{
  0%{ transform: rotate(6deg); }
  50%{ transform: rotate(-6deg); }
  100%{ transform: rotate(6deg); }
}
/** FOOTER **/

.footer{
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  bottom: 14px;
  z-index: -1;
}
#ftr{
  color: black;
  text-align: center;
  font-size: 8px;
}




/* ==========================
-- MEDIA QUERIES           --
========================== */




