/* ==========================
-- BODY                    --
========================== */
body{
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, li, a{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.unselectable {
 -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.page{
  width: 100vw;
  height: calc(100vh - 80px);
}


/* ==========================
-- LOADER                  --
========================== */
.loader{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #274CBF;
  overflow: visible;
  z-index: 99;
}
#loadergif{
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* ==========================
-- PAGE ONE                --
========================== */

/** HEADER **/
.header {
  height: 80px;
  background-color: #264FBF;
}
.logo-wrap{
  width: 120px;
  margin: 0 auto;
}
.logo-wrap img{
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  height: 72px;
}

/* ==========================
-- P1:CONTENT              --
========================== */

.p1content{
  width: 100%;
  position: relative;
  margin-top: 60px;
  height: calc(100vh - 200px);
  overflow: hidden;
}
@keyframes test{
  0%{ margin-top: 0px; }
  50%{ margin-top: 10px; }
  100%{ margin-top: 0px; }
}
.sec1{
  width: 100%;
  height: ;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  animation: test 2200ms ease-in-out infinite;
}
.sec1 h1{
  font-family: 'Crete Round', serif;
  font-size: 14vmin;
}
.sec1 h2{
  font-size: 5vmin;
  letter-spacing: .3em;
  padding: 12px;
}
.sec1 h3{
  font-size: 1.25em;
  padding: 12px;
}
.sec2{
  width: 100%;
  padding: 0 10vw;
  height: ;
  text-align: center;
  position: absolute;
  left: 150%;
  margin-right: -50%;
  transform: translate(-50%);
  animation: test 2000ms ease-in-out infinite;
}
.sec2 h1{
  font-size: 8vmin;
  font-family: 'Crete Round', serif;
  padding-bottom: 10px;
}
#gif{
  background-image: url('assets/spin_bw.gif');
  background-size: contain;
  height: 50vmin;
  width: 50vmin;
  margin: 0 auto;
}
#gif:hover{
  background-image: url('assets/spin_color.gif');
  background-size: contain;
}
.sec2 p{
  font-size: 3vmin;
  text-align: justify;
  line-height: 1.5em;
}
.sec3{
  width: 100%;
  padding: 0 15vw;
  height: ;
  text-align: center;
  position: absolute;
  left: 150%;
  margin-right: -50%;
  transform: translate(-50%);
  animation: test 2000ms ease-in-out infinite;
}
.sec3 h1{
  font-size: 8vmin;
  font-family: 'Crete Round', serif;
  padding-bottom: 4vmin;
}
.sec3 p{
  font-size: 4vmin;
  line-height: 1.5em;
}
.sec0{
  width: 100%;
  padding: 0 15vw;
  height: 262px;
  text-align: center;
  position: absolute;
  left: -50%;
  margin-right: -50%;
  transform: translate(-50%);
  animation: test 2000ms ease-in-out infinite;
}
.sec0 h1{
  font-size: 8vmin;
  font-family: 'Crete Round', serif;
  padding-bottom: 10px;
}
.sec0 p{
  font-size: 3vmin;
  text-align: justify;
  line-height: 1.5em;
}
.sec-1{
  width: 100%;
  padding: 0 15%;
  height: 262px;
  text-align: center;
  position: absolute;
  left: -50%;
  margin-right: -50%;
  transform: translate(-50%);
  animation: test 2000ms ease-in-out infinite;
}
.sec-1 h1{
  font-size: 8vmin;
  font-family: 'Crete Round', serif;
  padding-bottom: 50px;
}
.sec-1 p{
  font-size: 3vmin;
  line-height: 1.5em;
}

@keyframes work{
  from{ background-color: rgba(38,79,191,0); }
  to{ background-color: rgba(38,79,191,1); color: white; }
}
.work{
  font-size: 3vmin;
  padding: 14px;
}
.work:hover{
  animation: work 400ms forwards;
}

/* ==========================
-- P1:NAV                  --
========================== */

@keyframes downspin {
  0% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}
@keyframes upspin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
} 

.downed{
  animation: downspin 600ms forwards;
}
.upped{
  animation: upspin 600ms forwards;
}
.nav{
  height: 60px;
  margin: -20px auto 0 auto;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-end;
}
.arw{
  cursor: pointer;
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #EDF53F;
  transition: transform 600ms ease-in-out;
}
.arrow-down {
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-top: 30px solid #264FBF;
  border-right: 30px solid transparent;
}
.arrow-right {
  width: 0; 
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #E52322;
  transition: transform 600ms ease-in-out;
}
.arrow-up {
  width: 0; 
  height: 0;
  margin: 0 auto;
  border-left: 30px solid transparent;
  border-bottom: 30px solid #264FBF;
  border-right: 30px solid transparent;
}

/* ==========================
-- P2:CONTENT              --
========================== */

.p2content{
  width: 100%;
  position: relative;
}
#welcome{
  font-family: 'Crete Round', serif;
  margin-top: 80px;
  font-size: 8vmin;
  text-align: center;
}
.work-wrapper{
  margin-top: 80px;
}
.wrk{
  width: 55vw;
  margin: 0 auto 30px;
}
.wrk-title{
  margin-bottom: 15px;
}
.wrk-title h2, .wrk-title a{
  display: inline-block;
  vertical-align: middle;
}
.wrk-title h2{
  font-size: 4.5vmin;
  font-weight: 700;
  font-style: italic;
}
.wrk-title a{
  background-color: #264FBF;
  padding: 8px 24px;
  font-size: 2.25vmin;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
  float: right;
}
.wrk p{
  font-size: 2.75vmin;
}



/*
.nav p{
  font-family: 'Crete Round', serif;
}
.nav img{
  width: 32px;
}
.this{
  position: absolute;
  right: 0;
  cursor: pointer;
}
.that{
  position: absolute;
  left: 0;
  cursor: pointer;
}
.this, .that{
  height: 48px;
  line-height: 48px;
}
#thatpt{
  transform: scaleX(-1);
}
.this p, .this img, .that p, .that img{
  display: inline-block;
  cursor: pointer;
}
#or{
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  font-family: 'PT Sans', sans-serif;
  height: 48px;
  line-height: 48px;
}
/*.this:hover, .that:hover{
  animation: point 400ms infinite linear reverse;
}
.this:active, .that:active{
  animation: pointy 400ms 2 linear;
}*/
@keyframes point{
  0%{ transform: rotate(0deg); }
  25%{ transform: rotate(-6deg); }
  75%{ transform: rotate(6deg); }
  100%{ transform: rotate(0deg); }
}
@keyframes pointy{
  0%{ transform: rotate(0deg); }
  25%{ transform: rotate(-6deg); }
  75%{ transform: rotate(6deg); }
  100%{ transform: rotate(0deg); }
}

/** FOOTER **/

.footer{
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: -1;
}
#ftr{
  color: black;
  text-align: center;
  font-size: 8px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  bottom: 0;
}




/* ==========================
-- MEDIA QUERIES           --
========================== */


@media screen and (max-width: 375px){
  .
  .header{
    height: ;   
  }
}