/* ==========================
-- BODY                    --
========================== */

html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
  background-color: black;
  min-height: 100vh;
}
p, h1, h2, h3, h4, h5, li, a{
  color: white;
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
}
.unselectable {
  user-select: none;
}


/* ==========================
-- SPLASH                  --
========================== */

.page{
	background-color: black;
	height: 100vh;
}
/*.header{
  position: absolute;
  width: 100vw;
  top: 0;
}*/
.header h1{
	font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
	font-weight: 700;
	text-align: center;
  background-color: black;
}
.bread{
  font-family: Courier, serif;
  text-align: center;
  font-size: 11px;
  margin: 12px 0;
}
.bread a, .bread p{
  display: inline-block;
}
.container-1{
	z-index: 10;
}
.container-1 h1{
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  text-align: center;
}
.container{
	position: absolute;
	left: 50%;
	top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.logo{
	text-align: center;
	margin: 0 48px 120px 48px;
}
#logo{
	height: 170px;
}
.button{
  display: block;
  text-align: center;
  height: 60px;
  width: 160px;
  padding: 10px 16px;
  margin: 32px auto;
  line-height: 36px;
  border-radius: 5px;
  border: 4px solid white;
  transition: all 200ms ease;
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-weight: 800;
}
.button:hover{
  color: black;
  background-color: white;
  animation: btn-animate 4s linear infinite;
  transform: scale(1.1);
}
@keyframes btn-animate{
  0%{ box-shadow: -10px 4px #FF5429; }
  12.25%{ box-shadow: 10px 4px #FF5429, 10px -4px #2969FF; }
  25%{ box-shadow: 10px -4px #FF5429; }
  37.5%{ box-shadow: -10px 4px #FF5429, -10px -4px #FF5429; }
  50%{ box-shadow: -10px -4px #FFBF29; }
  62.5%{ box-shadow: 10px -4px #FF5429, 10px 4px #2969FF; }
  75%{ box-shadow: 10px 4px #FF5429; }
  87.5%{ box-shadow: -10px -4px #FF5429, -10px 4px #FF5429; }
  100%{ box-shadow: -10px 4px #FFBF29; }
}


/* ==========================
-- HOME                    --
========================== */

.container-2{
	z-index: 1;
	opacity: 0;
  visibility: hidden;
  height: calc(100vh - 113px);
  max-height: 600px;
  margin-top: 85px;
}
.face{
	text-align: center;
	margin-bottom: 24px;
	margin-top: -24px;
}
#face{
	height: 30vmin;
}
.container-2 p{
	font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
	max-width: 50vw;
	text-align: justify;
  margin: 8px 0 16px 0;
}


/* ==========================
-- WORK                    --
========================== */

.container-3{
  /*width: 100vw;*/
}
.li{
  display: block;
  text-align: center;
  font-size: 3em;
  color: white;
  font-family: Courier, serif;
  padding: 20px 20px 20px 20px;
  margin: 20px;
  transition: all 200ms ease;
}
.li:hover{
  color: black;
  background-color: white;
}
/*
.li::after{
  content: '';
  height: 10px;
  width: inherit;
  display: block;
  background-color: white;
  color: white;
  font-size: 9px;
  line-height: 10px;
  transition: all 200ms ease;
}
.li:hover::after{
  background-color: black;
  color: white;
  height: 20px;
  margin-bottom: -10px;
  font-size: 20px;
  line-height: 20px;
}

#branding::after{
  content: 'building identity systems';
}
#logos::after{
  content: 'identifying marks';
}
#screens::after{
  content: 'computers n\' such';
}
#rest::after{
  content: 'what else do i do?';
}
#br-kinis::after{
  content: 'barefoot apparel';
}
#br-topo::after{
  content: 'outdoor gear';
}
#lo-kinis::after{
  content: 'barefoot apparel';
}
#lo-sw::after{
  content: 'brick & masonry supplies';
}
#sc-lsg::after{
  content: 'occupational therapy website';
}
#sc-topo::after{
  content: 'mobile shopping experience';
}
#grph::after{
  content: 'digital illustrations';
}
#fairy::after{
  content: 'yes, it\'s got fairies';
}
#hippo::after{
  content: 'creative agency';
}
*/


/* ==========================
-- WORK CONTAINERS         --
========================== */

.container-4, .container-5, .container-6, .container-7{
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}



/* ==========================
-- FOOTER                  --
========================== */

.footer{
  height: 20px;
	font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
	position: absolute;
  top: calc( 100vh - 12px);
	left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  font-size: 10px;
}
/*.footer{
  position: relative;
  height: 32px;
  bottom: 32px;
}
p#ftr-left, img#ftr-right{
  position: absolute;

  display: block;
  height: 32px;
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-size: 6px;
  line-height: 8px;
}
p#ftr-left{
  left: 0px;
  width: 100px;
}
img#ftr-right{
  left: calc( 100vw - 31px);
  width: auto;
}
*/


/* ==========================
-- 404                     --
========================== */

.btn-404{
  width: 220px;
  margin: 0 auto; 
}


/* ==========================
-- MEDIA QUERIES           --
========================== */

@media screen and (max-width: 755px){

  .container-2 p{
    max-width: 75vw;
  }

}

@media screen and (max-width: 414px){

  .container{
    margin-top: 24px;
  }
  .container-2{
    margin-top: 52px;
  }
  .container-2 p{
    max-width: 90vw;
    font-size: 13px;
    text-align: justify;
    margin: 8px 0;
  }
  .li{
    font-size: 2em;
  }

}

@media screen and (max-width: 320px){

  .container-2 p{
    max-width: 90vw;
    text-align: justify;
    margin: 8px 0;
  }
  .li{
    font-size: 1.8em;
  }
  .button{
    font-size: 14px;
    line-height: 52px;
    padding: 0;
    height: 56px;
    width: 150px;
    margin: 16px auto;
  }

}


