/* ==========================
-- DOCUMENT                --
========================== */

#progressBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4px;
  appearance: none;
  border: none;
  background-color: transparent;
  color: red;
  z-index: 9999;
}
#progress{
  background-color: red;
  width: 0;
  height: 4px;
}


html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
}
@font-face{
  font-family: Didot;
  src: url(assets/fonts/Didot.ttc);
}
h1{
  font-family: Courier;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
}
h2{
  font-family: SairaCondensed-Bold;
  font-size: 32px;
  letter-spacing: 0;
}
h3{
  font-family: SairaCondensed-Bold;
  font-size: 22px;
  letter-spacing: 0;
}
h4{
  font-family: SairaCondensed-Bold;
  font-size: 18px;
  letter-spacing: 0;
}
p.pFeatured{
  font-family: NunitoSans-SemiBold;
  font-size: 24px;
  letter-spacing: 0.5px;
}
p.pCaption{
  font-family: Didot;
  font-style: italic;
  font-size: 32px;
  color: #777;
  opacity: 0.25;
  text-align: center;
  align-self: center;
  padding: 0 24px;
}
p{
  font-family: NunitoSans-Regular;
  font-size: 18px;
  letter-spacing: 0;
}



/* ==========================
-- PAGE                    --
========================== */

.unselectable {
  user-select: none;
}
.page{
  display: grid;
}



/* ==========================
-- NAV                     --
========================== */

nav{
  position: fixed;
  width: 100vw;
  height: 90px;
  transition: all 250ms ease;
  z-index: 999;
}
.icons{
  grid-area: 1/10/2/13;
  position: sticky;
  top: 0;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}
.icons img{
  width: auto;
  height: 42px;
  margin: 6px 24px;
}
.navTitle, .siteNav a{
  color: black;
  display: block;
}
.navTitle{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
.navTitleLink{
  color: white;
  display: block;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
.navigator{
  overflow-y: scroll;
  max-height: calc(100vh - 256px);
  text-indent: 18px;
  margin-bottom: 15px;
}
.navigator a{
  opacity: 0.35;
  transition: all 500ms ease;
}
.navigator a:hover{
  opacity: 0.75;
}
.active{
  opacity: 1!important;
}
.hidden{
  opacity: 0;
  visibility: hidden;
}
.siteNav{
  position: absolute;
  top: 90px;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 52px;
  background-color: white;
  transition: all 500ms ease;
  font-family: SairaCondensed-Bold;
}
.navLinks{
  width: 100%;
  display: inline-block;
  padding: 50px;
  background-color: white;
}
#credits{
  font-size: 10px;
  letter-spacing: 1px;
}



/* ==========================
-- HERO                    --
========================== */

#hero{
  grid-area: 1/1/2/9;
  background-color: black;
  width: 100vw;
  min-height: 65vh;
}
#hero img{
  display: block;
  width: 65%;
  margin-top: 36px;
  /*margin-left: calc(8.33vw + 20px);
  background-color: white;
  border: 6px solid white;
  box-shadow: -20px 20px white;*/
}

#description{
  width: 45vw;
  margin: -63px auto 0;
  padding: 15px;
  background-color: white;
  border: 3px solid black;
  box-shadow: -15px 15px;
  z-index: 99;
}

header{
  height: 213px;
  margin-top: -63px;
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: -124px;
  z-index: 98;
}
header h1{
  padding-top: 133px;
}



/* ==========================
-- CONTENT                 --
========================== */

#content{
  width: 100vw;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 72px;
}
.block{
  background-color: white;
  border: 4px solid black;
  margin-left: -4px;
}
/*.red{
  position: relative;
  top: calc(100% - 4px);
  left: 0;
  width: 0;
  height: 0; 
  border-right: calc(8.5vw - 10px) solid transparent;
  border-top: 32px solid #606060;
  z-index: 10;
}
.black{
  border-right: calc(8.5vw + 2px) solid transparent;
  border-top: 36px solid black;
  z-index: 9
}*/
#backgroundBlack{
  grid-area: 1/1/20/9;
  background-color: black;
  z-index: -1;
}

#titleBlock{
  grid-area: 2/2/3/10;
}
#titleBlock h1{
  line-height: 110px;
}
#t2{
  grid-area: 3/2/4/10;
  padding: 36px 64px 36px 36px;
  line-height: 2em;
}
#overview{
  grid-area: 4/2/5/10;
}
.blocks{
  padding: 108px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 1em;
  justify-items: center;
  align-items: center;
}
.ovText{
  grid-area: 1/1/3/3;
  font-family: NunitoSans-SemiBold;
  width: calc(100% - 164px);
  text-align: center;
  padding: 12px 18px;
  border: 4px solid black;
  box-shadow: -8px 8px black;
  opacity: 0;
  transition: all 1s ease;
}
.ovVis{
  opacity: 1;
}
.ovEl{
  width: 216px;
  height: 108px;
  padding: 12px;
  font-size: 24px;
  font-family: SairaCondensed-Bold;
  text-align: center;
  color: white;
  position: relative;
  background: rgba(0,0,0,1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 99;
}
.ovEl h2{
  cursor: pointer;
  font-size: 28px;
}
.ovOut{
  background-color: transparent;
  color: black;
  font-size: 32px;
  opacity: 1;
}
.unselected{
  opacity: 0.25;
  transform: scale(1);
}

#box1{
  grid-area: 1/1/2/2;
}
#box2{
  grid-area: 1/2/2/3;
}
#box3{
  grid-area: 2/1/3/2;
}
#box4{
  grid-area: 2/2/3/3;
}








