/* ==========================
-- DOCUMENT                --
========================== */

#progressBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4px;
  appearance: none;
  border: none;
  background-color: transparent;
  color: red;
  z-index: 99999;
}

#progress{
  background-color: red;
  width: 0;
  height: 4px;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
}

p, h1, h2, h3, h4, h5, li{
  cursor: default;
}

a{
  text-decoration: none;
}

h1{
  font-family: SairaCondensed-Bold;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
}

h2{
  font-family: SairaCondensed-Bold;
  font-size: 36px;
  letter-spacing: 0;
}

h3{
  font-family: SairaCondensed-Bold;
  font-size: 28px;
  letter-spacing: 0.5px;

  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;

  grid-column: subtitle;
  align-self: center;
}

h4{
  font-family: SairaCondensed-Bold;
  font-size: 20px;
  letter-spacing: 0;
}

p.pHero{
  font-family: NunitoSans-Regular;
  font-size: 32px;
  letter-spacing: 0.5px;
}

p.pFeatured{
  font-family: NunitoSans-Regular;
  font-size: 22px;
  letter-spacing: 0.5px;
}

p.pSubtitle{
  font-family: SairaCondensed-Bold;
  font-size: 36px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
}

p.pCaption{
  font-family: NunitoSans-Regular;
  font-size: 11px;
  color: #fff;
  opacity: 0.85;
  text-align: right;

  grid-column: caption;
  align-self: center;
  padding: 24px;
  border-top: 1px solid rgba(255,255,255,0.75);
  border-bottom: 1px solid rgba(255,255,255,0.75);
}

p{
  font-family: NunitoSans-Regular;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.75em;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


/* ==========================
-- NAV                     --
========================== */

nav{
  position: fixed;
  width: 100vw;
  transition: all 250ms ease;
  z-index: 99999;
}

.jumpLinks{
  padding: 50px 16px;
  width: 25vw;
  background-color: black;
  justify-self: center;
}

.jumpTitle{
  border-bottom: 1px solid white;
  display: block;
  margin-bottom: 15px;
}

.jumpLinks a{
  color: white;
  display: block;
}

.navTitle, .navLinks a{
  color: black;
  display: block;
}

.navTitle{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.navTitleLink{
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  transition: all 500ms ease;
}
.navTitleLink:hover{
  transform: translateX(4px);
}

.navigator{
  overflow-y: scroll;
  max-height: calc(100vh - 256px);
  text-indent: 18px;
  margin-bottom: 15px;
}

.navigator a{
  opacity: 0.35;
  transition: all 500ms ease;
}

.navigator a:hover{
  opacity: 0.75;
}

.active{
  opacity: 1!important;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}

.siteNav{
  position: absolute;
  top: 80px;
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 700;
  line-height: 52px;
  background-color: white;
  transition: all 500ms ease;
  font-family: SairaCondensed-Bold;

  display: flex;
}

.navLinks{
  width: 50vw;
  display: inline-block;
  padding: 50px;
  background-color: white;
}

#credits{
  font-size: 10px;
  letter-spacing: 1px;
}



/* ==========================
-- PAGE                    --
========================== */

.unselectable {
  user-select: none;
}

.page{
  display: grid;
  grid-row-gap: 120px;
  grid-column-gap: ;
  grid-template-columns: [header-start caption-start sidebar-start] 2fr [header-end caption-end img-start subtitle-start] 1fr [sidebar-end subtitle-end] 1fr [content-start] 6fr [img-end content-end deadspace] 2fr;
  grid-auto-rows: minmax(100px, auto);
}

.bolded{
  font-weight: bold;
}

.content{
  grid-column: content;
  align-self: center;
}

.content-black{
  color: white;
}

.subtitle-black{
  margin: 80px 0 0 0;
}

.black-bg{
  grid-column: header-start / -1;
  background-color: black;
  z-index: -1;
}

.image{
  grid-column: img;
  border: 4px solid white;
  box-shadow: 16px 16px black;
}

.image-odd{
  grid-column: img;
}

.smImg{
  max-width: 16.6vw;
}

.mdImg{
  max-width: 46vw;
}

.lgImg{
  max-width: 100%;
}

a.button{
  display: block;
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  color: black;
  background-color: white;
  height: 60px;
  width: 50%;
  padding: 10px 16px;
  line-height: 36px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 4px 4px white;
  transition: all 200ms ease;
  cursor: pointer;
}
a.button-white{
  color: white;
  background-color: black;
  border: 1px solid white;
  box-shadow: 4px 4px black;
}
a.button:hover{
  color: white;
  background-color: black;
  border: 2px solid white;
  animation: btn-animate 4s linear infinite;
  transform: scale(1.1);
}
a.button-white:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}

@keyframes btn-animate{
  0%{ box-shadow: -10px 4px #FF5429; }
  12.25%{ box-shadow: 10px 4px #FF5429, 10px -4px #2969FF; }
  25%{ box-shadow: 10px -4px #FF5429; }
  37.5%{ box-shadow: -10px 4px #FF5429, -10px -4px #FF5429; }
  50%{ box-shadow: -10px -4px #FFBF29; }
  62.5%{ box-shadow: 10px -4px #FF5429, 10px 4px #2969FF; }
  75%{ box-shadow: 10px 4px #FF5429; }
  87.5%{ box-shadow: -10px -4px #FF5429, -10px 4px #FF5429; }
  100%{ box-shadow: -10px 4px #FFBF29; }
}


/* ==========================
-- CONTENT                 --
========================== */

#sideBlack{
  grid-row: 1/24;
  grid-column: sidebar;
  background-color: black;
  z-index: -1;
}

#empty{
  grid-row: 1/2;
  grid-column: content;
}

.icons{
  grid-row: 1/2;
  grid-column: header;
  position: sticky;
  background-color: black;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

.icons img{
  width: auto;
  height: 40px;
  margin: 6px 12px;
}

#hero{
  grid-row: 2;
  grid-column: img;
  height: auto;
  width: auto;
  max-width: 17vw; 
  max-height: 65vh;
  margin-top: -80px;
}

#heroText{
  grid-row: 2;
  padding: 0 0 0 8vw;
  margin-top: -80px;
}

#titleBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titleBlock a{
  margin-right: 16px;
  padding: 16px;
  transition: all 250ms ease;
}
#titleBlock a:hover{
  transform: scale(1.2);
}

#titleBlock img{
  height: auto;
  width: auto;
  max-height: 40px;
  max-width: 40px;
}

p.disc-title, a.discipline{
  font-family: SairaCondensed-Bold;
  font-size: 14px;
  letter-spacing: 0;
}
div.disciplines{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
a.discipline{
  color: #777;
  text-align: center;
  min-width: 60px;
  margin: 8px 12px 0 0;
  padding: 8px 12px;
  
  cursor: pointer;
  transition: all 250ms ease;
}
a.discipline:hover{
  color: black;
  box-shadow: 0 0 16px rgba(0,0,0,0.15),
              0 2px 0 2px black;
  border-bottom: 1px solid black;
  transform: scale(1.1) translateY(-2px);
}
a.discipline:active{
  transform: scale(1) translateY(2px);
}

#ovText{
  margin-top: 80px;
}

#ov-black{
  height: calc(100% + 380px);
  margin-bottom: -120px;
}

.sectionNumber{
  grid-column: sidebar;
  background-color: white;
  align-self: center;
  text-align: center;
  padding: 40px 0;
  margin: 120px 0 -60px 0;
  z-index: 9999;
}
.sectionTitle{
  grid-column: 3 / -1;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  align-self: center;
  padding: 40px 0 40px 8.3vw;
  margin: 120px 0 -60px 0
}

#ui-black{
  height: calc(100% + 120px);
  margin-top: 220px;
}

#ui-black-2{
  height: calc(100% + 50px);
  margin-top: 220px;
}

.three{
  grid-row: 3;
}

.four{
  grid-row: 4;
}

.five{
  grid-row: 5;
}

.six{
  grid-row: 6;
}

.seven{
  grid-row: 7;
}

.eight{
  grid-row: 8;
}

.nine{
  grid-row: 9;
}

.ten{
  grid-row: 10;
}

.eleven{
  grid-row: 11;
}

.twelve{
  grid-row: 12;
}

.thirteen{
  grid-row: 13;
}

.fourteen{
  grid-row: 14;
}

.fifteen{
  grid-row: 15;
}

.sixteen{
  grid-row: 16;
}

.seventeen{
  grid-row: 17;
}

.eighteen{
  grid-row: 18;
}

.nineteen{
  grid-row: 19;
}

.twenty{
  grid-row: 20;
}

.twenty1{
  grid-row: 21;
}

































