/* ==========================
-- BODY                    --
========================== */
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
}
body{
  overflow: ;
}
p, h1, h2, h3, h4, h5, li, a{
  
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
  color: white;
}
.unselectable {
 -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

/* ==========================
-- SPLASH                  --
========================== */

.page{
	/*height: 100vh;*/
}
.header{
  background-color: black;
  position: relative;
  z-index: 99;
  color: white;
}
.header h1{
	font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
	font-weight: 700;
	text-align: center;
}
.bread{
  font-family: Courier, serif;
  text-align: center;
  font-size: 11px;
  margin-top: 12px;
  padding-bottom: 10px;
}
.bread a, .bread p{
  display: inline-block;
}
.overlay{
  width: 100vw;
  height: calc( 100vh - 85px);
  background-color: black;
  position: absolute;
  top: 85px;
  z-index: -1;
  animation: 1200ms overlayout ease 800ms forwards;
}
.away{
  animation: 1200ms overlayin ease forwards;
  z-index: 1;
}
@keyframes overlayout{
  0%{
    top: 85px;
    opacity: 1;
  }
  100%{
    top: -100vh;
    opacity: 0;
  }
}
@keyframes overlayin{
  0%{
    top: -100vh;
    opacity: 0;
  }
  100%{
    top: 85px;
    opacity: 1;
  }
}


/* ==========================
-- CONTENT                  --
========================== */

.container{
  margin: 36px auto 24px auto;

}
.title{
  text-align: center;
  font-family: Courier, serif;
}
.title h1, .title h3{
  font-weight: 400;
}
.title h1{
  color: white;
  display: block;
  margin: 10px auto;
  height: 60px;
  line-height: 60px;
  background-color: black;
  width: 90vw;
}
.content{
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 36px;
  z-index: 22;
  position: relative;
}
.content a{
  font-size: 64px;
  color: black;
  cursor: pointer;
}
#hippo{
  max-height: 1000vmin;
}
.content img{
  max-width: 75vmin;
  max-height: 1000vmin;
  display: block;
  margin: 0 auto;
}
#biff{
  display: block;
  margin: 0 auto;
  font-family: "Nunito Sans", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  z-index: -2;
  position: relative;
}


/* ==========================
-- GRAPHICS                --
========================== */

.lb_trigger{
  display: inline-block;
  margin: 24px 18px;
  transition: all 200ms ease;
  border: 8px solid black;
  position: relative;
}
.lb_trigger:hover{
  transform: scale(1.25);
  /*animation: hover 4s ease infinite alternate;*/
}
/*
@keyframes hover{
  0%{ 
    box-shadow: -10px 4px #FF5429;
    bottom: 0px;
   }
  12.25%{ box-shadow: 10px 4px #FF5429, 10px -4px #2969FF; }
  25%{ box-shadow: 10px -4px #FF5429; }
  37.5%{ box-shadow: -10px 4px #FF5429, -10px -4px #FF5429; }
  50%{ 
    box-shadow: -10px -4px #FFBF29;
    bottom: -5px;
    border: 8px solid white;
   }
  62.5%{ box-shadow: 10px -4px #FF5429, 10px 4px #2969FF; }
  75%{ box-shadow: 10px 4px #FF5429; }
  87.5%{ box-shadow: -10px -4px #FF5429, -10px 4px #FF5429; }
  100%{ 
    box-shadow: -10px 4px #FFBF29;
    bottom: 0px;
    border: 8px solid black;
   }
}
*/
.lb_trigger img{
  max-height: 15vmin;
}
#lightbox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  display: none;
  z-index: 999;
}
#lightbox img{
  border: 10px solid white;
  height: 95vmin;
  margin: 24px;
  width: auto;
  transform: scale(0.0);
  transition: all 400ms ease;
  box-shadow: 0 0 25px;
}
.scale-in{
  animation: scale-in 400ms ease forwards;
}
.scale-out{
  animation: scale-out 400ms ease forwards;
}
@keyframes scale-in {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
  }
}
@keyframes scale-out {
  0% {
    transform: scale(1.0) /*rotate(0deg)*/;
  }
  100% {
    transform: scale(0.0)/* rotate(1440deg)*/;
  }
}
#prev, #next{
  position: absolute;
  color: white;
  background-color: black;
  text-align: center;
  font-family: Courier, serif;
  font-size: 16px;
  line-height: 48px;
  width: 64px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  display: none;
  cursor: pointer;
}
#next{
  right: 0;
}



.footer{
  height: 20px;
  font-family: "Saira Condensed", "HelveticaNeue-CondensedBold", "Helvetica Neue", sans-serif;
  color: black;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  font-size: 10px;
}





/* ==========================
-- MEDIA QUERIES           --
========================== */

@media screen and (max-width: 414px){

  .content{
    margin: 36px 20px;
  }
  #lightbox img{
    margin: 12px auto;
  }
  #prev, #next{
    font-size: 12px;
    height: 28px;
    width: 40px;
    line-height: 28px;
  }
  .title h3{
    font-size: 1em;
  }
  .lb_trigger{
    margin: 18px 10px;
    border: 5px solid black;
  }
  .lb_trigger img{
    max-height: 20vmin;
  }

}



