/* ==========================
-- BODY                    --
========================== */
*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
p, h1, h2, h3, h4, h5, li, a{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
p, h1, h2, h3, h4, h5, li{
  cursor: default;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.unselectable {
 -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.page{
  width: 100vw;
  height: calc(100vh - 80px);
}


/* ==========================
-- LOADER                  --
========================== */
.loader{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #274CBF;
  overflow: visible;
  z-index: 99;
}
#loadergif{
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


/* ==========================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-- PAGE ONE                --
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
========================== */

/* ==========================
-- HEADER                  --
========================== */
.header {
  height: 80px;
  width: 100%;
  background-image: url('assets/header.png');
  background-size: 100% 80px;
  background-position: center;/*linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%);*/
  position: relative;
  overflow: hidden;
}
.logo-wrap{
  width: 120px;
  margin: 0 auto;
}
.logo-wrap img{
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  height: 72px;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: white;
  margin-top: -14px;
}
.nav{
  font-size: 12px;
  font-weight: 400;
  flex-grow: ;
  transition: all 400ms ease;
}
.nav-middle{
  width: 70px;
  flex-grow: ;
}
.nav-on{
  font-weight: 700;
}

/* ==========================
-- P1:CONTENT              --
========================== */
.coming-soon{
  transform: translate(-50%, -50%) !important;
  animation: soon 1.5s ease forwards;
}
@keyframes soon{
  0%, 20%{ opacity: 0; top: 60%; }
  100%{ opacity: 1; top: 50%; }
}
.p1content{
  width: 100%;
  position: relative;
  height: calc(100vh - 80px);
  overflow: hidden;
}
.sec1{
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all 800ms ease, opacity 1.5s;
}
.sec1 h1{
  font-family: 'Crete Round', serif;
  font-size: 14vmin;
}
.sec1 h2{
  font-size: 5vmin;
  letter-spacing: .3em;
  padding: 12px;
  margin-bottom: 20px;
}
.sec1 h3{
  font-size: 1.25em;
  padding: 12px;
}
.button{
  display: inline-block;
  position: relative;
  height: 60px;
  width: 160px;
  padding: 10px 16px;
  margin: 20px;
  line-height: 36px;
  border-radius: 5px;
  border: 3px solid black;
  transition: all 200ms ease;
}
.button:hover{
  color: white;
  background-color: black;
  animation: btn-animate 4s /*cubic-bezier(0.000, 0.600, 1.000, 0.400)*/ linear infinite;
  border: 3px solid white;
  transform: scale(1.1);
  /*box-shadow: 2px 6px #FF5429, -2px 6px #FF5429;*/
}
.button:active{
  box-shadow: 100px 100px #FF5429;
  /*box-shadow: 2px 3px #C6330E, -2px 3px #C6330E;*/
}
@keyframes btn-animate{
  0%{ box-shadow: -10px 4px #FF5429; }
  12.25%{ box-shadow: 10px 4px #FF5429, 10px -4px #2969FF; }
  25%{ box-shadow: 10px -4px #FF5429; }
  37.5%{ box-shadow: -10px 4px #FF5429, -10px -4px #FF5429; }
  50%{ box-shadow: -10px -4px #FFBF29; }
  62.5%{ box-shadow: 10px -4px #FF5429, 10px 4px #2969FF; }
  75%{ box-shadow: 10px 4px #FF5429; }
  87.5%{ box-shadow: -10px -4px #FF5429, -10px 4px #FF5429; }
  100%{ box-shadow: -10px 4px #FFBF29; }
}
/*@keyframes tester{
  0%{ box-shadow: -16px 8px #FF5429; }
  25%{ box-shadow: 16px 8px #FF5429; }
  50%{ box-shadow: 16px -8px #FF5429; }
  75%{ box-shadow: -16px -8px #FF5429; }
  100%{ box-shadow: -16px 8px #FF5429; }
}
*/

.sec2{
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  top: 50%;
  transform: translate(-50%, -30%);
  opacity: 0;
  z-index: -1;
  background-color: white;
  transition: all 1s ease;
}
.sec2 h1{
  font-size: 8vmin;
  font-family: 'Crete Round', serif;
  text-align: center;
  padding-bottom: 16px;
}
.sec2 p{
  font-size: 3vmin;
  line-height: 1.5em;
  max-width: 80%;
  margin: 0 auto;
  text-align: justify;
}
#gif{
  background-image: url('assets/spin_bw.gif');
  background-size: contain;
  height: 25vmin;
  width: 25vmin;
  margin: 0 auto 20px auto;
}
#gif:hover{
  background-image: url('assets/spin_color.gif');
  background-size: contain;
}
.transform-out{
  transform: translate(-50%, -70%);
  opacity: 0;
  visibility: hidden;
}
.transform-in{
  transform: translate(-50%, -50%);
  opacity: 100;
  visibility: visible;
}






