/* ==========================
-- DOCUMENT                --
========================== */


/* variables */

:root{
  --primary-black: black;
  --primary-white: white;
  --secondary-black: #444;
  --secondary-white: #d8d8d8;
  --tertiary-black: #777;
  --primary-highlight: red;

  --red: rgb(255,84,41);
  --blue: rgb(41,105,255);
  --yellah: rgb(255,191,41);

  --primary-text-light: white;
  --primary-text-dark: black;

  --bb-blue: #0055ff;

  --primary-font-family: "Fugaz One", "Helvetica Neue", serif;
  --secondary-font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
}


html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  background-color: var(--primary-white);
  transition: background-color 250ms;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* p, h1, h2, h3, h4, h5, li{
  cursor: default;
} */

a{
  text-decoration: none;
  font-family: var(--primary-font-family);
  transition: color 250ms;
}

h1, h2, h3, h4, h5 {
  font-family: var(--primary-font-family);
}

h1{
  color: var(--primary-text-dark);
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0;
  transition: color 250ms;
}

h2{
  color: var(--primary-text-dark);
  font-size: 36px;
  letter-spacing: 0;
  transition: color 250ms;
}

h3{
  font-size: 28px;
  letter-spacing: 0.5px;
}

h4{
  color: var(--primary-text-dark);
  font-size: 20px;
  letter-spacing: 0;
  transition: color 250ms;
}

p.pHero{
  font-family: var(--secondary-font-family);
  color: var(--primary-text-dark);
  font-size: 32px;
  letter-spacing: 0.25px;
  transition: color 250ms;
  font-weight: 300;
}

p.pFeatured{
  font-family: var(--secondary-font-family);
  color: var(--primary-text-dark);
  font-size: 22px;
  letter-spacing: 0.5px;
  transition: color 250ms;
}

p.pCaption{
  font-family: var(--secondary-font-family);
  color: var(--secondary-white);
  font-size: 11px;
  color: #ddd;
  /*opacity: 0.85;*/
  text-align: right;
  font-weight: 300;

  grid-column: caption;
  align-self: center;
  padding: 24px;
  border-top: 1px solid rgba(255,255,255,0.75);
  border-bottom: 1px solid rgba(255,255,255,0.75);
  transition: color 250ms;
}

p{
  font-family: var(--secondary-font-family);
  color: var(--primary-text-dark);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.75em;
  transition: color 250ms;
}

a.button{
	width: 160px;
	height: 56px;
	display: block;
	position: relative;
	font-family: var(--primary-font-family);
	font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: var(--primary-text-dark);
  background-color: var(--primary-white);
  padding: 0 16px;
  line-height: 56px;
  border-radius: 5px;
  border: 1px solid var(--primary-black);
  /*box-shadow: 4px 4px white, 5px 5px black;*/
  transition-property: color, background-color, border, box-shadow, transform;
  transition-duration: 400ms;
  cursor: pointer;
}
  a.button:hover{
    color: var(--primary-text-light);
    background-color: var(--primary-black);
    border: 2px solid var(--primary-white);
    animation: btn-animate 4s linear infinite;
    transform: scale(1.1);
  }
  @keyframes btn-animate{
    0%{ box-shadow: 6px 6px #FF5429; }
    12.25%{ box-shadow: -6px 6px #FF5429, 10px -4px #2969FF; }
    25%{ box-shadow: -6px -6px #FF5429; }
    37.5%{ box-shadow: 6px 6px #FF5429, -10px -4px #FF5429; }
    50%{ box-shadow: 6px -6px #FFBF29; }
    62.5%{ box-shadow: -6px -6px #FF5429, 10px 4px #2969FF; }
    75%{ box-shadow: -6px 6px #FF5429; }
    87.5%{ box-shadow: 6px -6px #FF5429, -10px 4px #FF5429; }
    100%{ box-shadow: 6px 6px #FFBF29; }
  }


/* progress bar */

#progressBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4px;
  appearance: none;
  border: none;
  background-color: transparent;
  z-index: 99999;
}

#progress{
  background-color: #FFBF29;
  width: 0;
  height: 4px;
}


/* ==========================
-- TOP CONTENT             --
========================== */

.top-block {
  margin-bottom: 200px;
}
.jumbo {
  background-color: var(--bb-blue);
  width: 100%;
  padding: 0 200px 120px;
}
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin-bottom: 48px;
  }
    .header #logo {
      width: 32px;
      height: 32px;

    }
    .header #header-spacer {
      width: 32px;
      height: 32px;
      opacity: 0;
    }
    .header h1 {
      color: white;
      font-size: 32px;
      line-height: 48px;
      letter-spacing: 2px;
    }

  .overview {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px;
  }
    .overview h4, .overview p {
      color: white;
      margin-bottom: 16px;
      max-width: 720px;
    }
  
    #jump {
      color: white;
      margin-bottom: 16px;
      font-weight: 400;
    }

  .button-link {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0;
    border-bottom: 1px solid black;
    border-radius: 4px;
    color: black;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    min-width: 60px;
    margin: 8px 12px 0 0;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 250ms ease;
  }
    .button-link:hover {
      color: var(--primary-text-dark);
      box-shadow: 0 0 16px rgba(0,0,0,0.24);
      border-bottom: 1px solid var(--primary-black);
      transform: translateY(-2px);
    }
/* 
    TESTING OUT NEW "BACKBONE" HOME PAGE LINKS
 */

 .projects {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 200px;
  margin-top: -120px;
 }
  .project {
    background-color: white;
    width: 100%;
    margin: 0 0 48px 0;
    padding: 48px;
    box-shadow: 0 2px 12px 6px rgba(0,0,0,0.12);
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
    .project-left {
      max-width: 40%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      color: var(--primary-text-dark);
    }
      .project-left p {
        margin: 16px 0;
      }
      .project-left .view-btn {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        color: var(--primary-text-dark);
        font-weight: 700;
        border: 2px solid transparent;
        padding: 10px 16px 10px 0;
        transition: margin 400ms;
        z-index: 1;
      }
      view-btn span {
        font-family: var(--primary-font-family);
      }
      .view-btn span:last-child {
        margin-left: 8px;
        transition: margin 400ms;
      }

    .project-right {
      width: 40%;
    }
      .project-right img {
        max-height: 240px;
        max-width: 100%;
        transition: transform 400ms;
      }

  .project:hover {
    border: 1px solid var(--bb-blue);
  }
  .project:hover div.view-btn {
    margin: 0 0 0 8px;
  }
  .project:hover div.view-btn span:last-child {
    margin-left: 16px;
  }
  .project:hover .project-right img {
    transform: scale(1.2);
  }


  div.article-divider {
    max-width: 80%;
    margin: 80px auto 80px auto;
  }
    div.article-divider p {
      font-family: var(--secondary-font-family);
      width: 100%;
      text-align: center;
      padding: 4px 8px;
      background-color: white;
    }


.section-indent {
  padding: 40px 96px;
}


/* %*%)_@*^$)(*^@%()%*$()*^(@)*^^$(_@)) */

  .links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 200px;
    margin-top: -120px;
  }
    .link {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 100%;
      max-width: 480px;
    }
    .link .link-img {
      width: 100%;
      max-width: 480px;
      height: 240px;
      border-radius: 4px;
      margin-bottom: 16px;
      box-shadow: 0 2px 12px 6px rgba(0,0,0,0.16);
      background-size: cover;
      transition: transform 400ms, box-shadow 400ms;
    }
    .link:not(:last-child) {
      margin-right: 80px;
    }
    .link:hover .link-img{
      box-shadow: 0 2px 16px 8px rgba(0,0,0,0.24);
      transform: scale(1.1);
    }

    #bcur-link{
      background-image: url('../assets/backbone/report.png');
    }
    #feed-link{
      background-image: url('../assets/backbone/feed.png');
    }
    #kit-link{
      background-image: url('../assets/backbone/kit.png');
    }

    #motive-link{
      background-image: url('../assets/backbone/vertm1.png');
    }
    #audit-link{
      background-image: url('../assets/backbone/verta1.png');
    }
    #creation-link{
      background-image: url('../assets/backbone/vertc1.png');
    }

    #cam1-link {
      background-image: url('../assets/companycam/notes.png');
    }
    #cam2-link {
      background-image: url('../assets/companycam/wf2.jpg');
    }
    #cam3-link {
      background-image: url('../assets/companycam/studio.png');
    }


/* ==========================
-- ARTICLES                --
========================== */

main {
  padding-bottom: 120px;
}
main article {
  padding: 0 200px 200px;
}
  article h1 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 16px;
    padding-top: 16px;
  }
  article .descr, article section p {
    max-width: 66%;
  }

  article section {
    margin-top: 80px;
  }
  article section {
    padding: 40px 80px;
  }
  article section h3 {
    margin-bottom: 16px;
  }
  article .images {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  article .img-wrap {
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 12px 4px rgba(0,0,0,0.20);
    transition: box-shadow 400ms, transform 400ms;
  }
  article .img-wrap:not(:last-child) {
    margin-right: 5%;
  }
  article .img-wrap img {
    display: block;
    width: 100%;
    max-width: 480px;
    border-radius: 4px;
    box-shadow: 0.5em 0.5em var(--bb-blue);
    transition: box-shadow 400ms;
  }
    article .img-wrap:hover {
      box-shadow: 0 2px 16px 8px rgba(0,0,0,0.24);
      transform: translateY(-0.5em);
    }
    article .img-wrap:hover img {
      box-shadow: 1em 1em var(--bb-blue);
    }

a.invision {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  box-sizing: border-box;
  will-change: background-color, transform;
  -webkit-tap-highlight-color: transparent;
  color: rgb(255, 255, 255);
  height: 48px;
  border-radius: 32px;
  border: unset;
  transition: all 0.2s cubic-bezier(0.2, 0.91, 0.85, 0.96) 0s;
  text-decoration: none;
  background: rgb(255, 51, 102);
  padding: 0 24px;
}
  a.invision:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 5px 10px;
    background-color: rgb(232, 30, 97);

  }



/* ==========================
-- COMPANYCAM              --
========================== */

article .cam-images .img-wrap img {
  box-shadow: 0.5em 0.5em #0277bd;
}
  article .cam-images .img-wrap:hover {
    box-shadow: 0 2px 16px 8px rgba(0,0,0,0.24);
    transform: translateY(-0.5em);
  }
  article .cam-images .img-wrap:hover img {
    box-shadow: 1em 1em #0277bd;
  }

.phones {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 32px;
  padding: 32px;
  background-color: #0277bd;
}
.phones > * {
  margin: 32px;
}
.phoneDescription {
  width: 446px;
  padding: 32px;
  color: white;
}
.phoneDescription h3 {
  width: 100%;
  margin-bottom: 24px;
  border-bottom: 4px solid white;
}
.phoneDescription p {
  color: white;
}

.phoneWrapper {
  width: 446px;
  border-radius: 20px;
  padding: 0 16px;
  font-family: system-ui, 'Source Sans Pro';
  background-color: #3A4B56;
  box-shadow: inset 0 0 0 -1px lightgray,
              0 4px 16px rgba(0, 0, 0, 0.4)
}
.phoneWrapper i {
  cursor: pointer;
}
.phoneWrapper p {
  font-family: system-ui, 'Source Sans Pro';
}
.phoneTop {
  height: 48px;
}
.phoneScreenWrapper {
  width: 414px;
  height: 736px;
  background-color: white;
}
.phoneScreen {
  width: 414px;
  height: 736px;
  position: relative;
  overflow: hidden;
}
.projectHeader {
  width: 100%;
  height: 208px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-image: url(https://imgix.bustle.com/rehost/2016/11/10/30468c8c-6701-4bfe-9173-b03dcf483987.png);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  padding: 16px;
}
.headerActionBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerActionBar i {
  color: white;
}
.headerActionsRight i {
  margin-left: 16px;
}
.headerContent {
  color: white;
}
.headerContent > *:not(:last-child) {
  margin-bottom: 8px;
}
  .projectTitle, .projectAddress {
    font-size: 20px;
    line-height: 24px;
  }
  .projectTitle {
    font-weight: bold;
  }
  .projectLabels {
    display: flex;
  }
    .projectLabel {
      display: flex;
      align-items: center;
      height: 24px;
      padding: 0 8px;
      font-size: 12px;
      line-height: 24px;
      font-weight: 600;
      border-radius: 2px;
      margin-right: 8px;
    }
    .projectLabelActive {
      background-color: #2ECC71;
    }
    .projectLabelAdd {
      line-height: 22px;
      border: 1px solid white;
    }
    .projectLabelAdd i {
      font-size: 16px;
      margin-right: 4px;
    }
  .featuredNote {
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px 0;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
  }
    .featuredNote i.featuredIcon {
      color: #0277BD;
    }
    .featuredNote i {
      color: #3A4B56;
      margin: 0 8px;
    }
    .featuredNoteText {
      color: #3A4B56;
      flex-grow: 2;
    }
    .featuredNoteText p {
      max-height: 32px;
      font-size: 12px;
      line-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

.projectTabs {
  height: 56px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 8px;
  box-shadow: inset 0 -1px 0 0 lightgray;
}
  .projectTab {
    height: 56px;
    min-width: 80px;
    font-size: 14px;
    line-height: 56px;
    color: #A6A6A6;
    text-align: center;
    padding: 0 8px;
    margin: 0 4px;
    cursor: pointer;
  }
  .projectTabActive {
    border-bottom: 2px solid #3A4B56;
    color: #3A4B56;
    font-weight: 600;
  }

.projectNotes {
  max-height: calc(100% - 264px);
  padding-bottom: 64px;
  overflow: auto;
}
  .projectNote {
    height: 96px;
    padding: 16px;
    box-shadow: inset 0 -1px 0 0 lightgray;
  }
    .projectNoteIcons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .projectNoteIcons i {
      font-size: 20px;
      color: #3A4B5699;
      margin-left: 8px;
    }
    .projectNoteContent {
      position: relative;
      top: -20px;
      height: 64px;
    }
    .projectNoteContent p {
      font-size: 14px;
      line-height: 20px;
      color: #3A4B56;
    }

  .projectNoteMenuWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.64);
    z-index: 5;
  }
    .projectNoteMenu {
      position: relative;
      bottom: 0;
      display: flex;
      flex-flow: column nowrap;
      background-color: white;
      border-radius: 8px 8px 0 0;
    }
    .projectNoteMenu > * {
      box-shadow: inset 0 -1px 0 0 lightgray;
      padding: 0 16px;
    }
      .projectNoteMenuTop {
        height: 40px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }
        .projectNoteMenuTop i {
          color: #3A4B56;
        }
        .projectNoteMenuTop p {
          width: 100%;
          font-size: 18px;
          line-height: 40px;
          text-align: center;
          margin-right: 24px;
          color: #3A4B56;
        }
      .projectNoteMenuItem {
        height: 64px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }
        .projectNoteMenuItem i {
          margin-right: 16px;
          color: #3A4B56;
        }
        .projectNoteMenuItem p {
          font-size: 14px;
          line-height: 64px;
          color: #3A4B56;
        }
      
      .projectNoteMenuBottom {
        height: 32px;
      }
        .projectNoteMenuBottom p {
          font-size: 10px;
          line-height: 32px;
          font-weight: 600;
          color: #a6a6a6;
        }

.projectConvo {
  width: 100%;
  height: 64px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 16px 16px 0 0;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0,0,0,0.32), inset 0 -1px 0 0 lightgray;
  z-index: 4;
}
  .projectConvoLeft {
    display: flex;
    justify-content: flex-start;
    max-width: calc(100% - 48px);
  }
    .avatar {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      background-color: #E6E8EB;
      font-size: 12px;
      margin-right: 8px;
    }
    .projectComment {
      display: flex;
      flex-flow: column nowrap;
      max-width: calc(100% - 48px);
    }
    .user {
      font-size: 11px;
      line-height: 12px;
      font-weight: 600;
      color: #3A4B56;
      margin-bottom: 4px;
    }
    .projectCommentContent {
      color: #3A4B56;
      font-size: 14px;
      line-height: 16px;
      max-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  .projectConvoRight {
    display: flex;
    width: 40px;
    padding: 0 8px;
  }
    .projectConvoRight i {
      font-size: 20px;
      color: #0277BD;
    }

.projectFABs {
  position: absolute;
  bottom: 72px;
  right: 8px;
  z-index: 3;
}
  .projectFAB {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .addFAB {
    background-color: #0277BD;
    color: white;
    margin-bottom: 8px;
  }
  .filterFAB {
    background-color: white;
    border: 1px solid #a6a6a6;
    color: #3A4B56;
  }

.createNote {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
  .noteHeader {
    height: 40px;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
    .noteHeader i {
      margin-right: 24px;
    }
    .noteHeaderTitle {
      flex-grow: 1;
    }
    .saveBtn {
      color: #0277BD;
      font-size: 14px;
      font-weight: 600;
      justify-self: right;
    }

  .noteContent {
    flex-grow: 1;
    padding: 16px;
  }
    .noteContent p {
      font-size: 16px;
      line-height: 24px;
      color: #3A4B56;
    }
    .noteContent .noteCheckbox {
      height: 24px;
      margin: 8px 0;
      display: flex;
      flex-flow: row;
      align-items: center;
    }
    .noteContent .noteCheckbox i {
      width: 24px;
      color: #3A4B56;
      margin-right: 4px;
    }

  .noteActionBar {
    height: 56px;
    padding: 0 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #D2D8DB;
  }
    .noteActionBar i {
      color: #3A4B56;
    }

.phoneBottom {
  height: 64px;
}
.phoneButton {
  height: 48px;
  width: 48px;
  margin: 16px auto;
  border-radius: 24px;
  border: 1px solid lightgray;
}


/* ==========================
-- FOOTER                  --
========================== */

.footer-transition {
  width: 100%;
  height: 200px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 1%, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 3%, rgba(0,0,0,1) 3%, rgba(0,0,0,1) 5%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 8%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 12%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 16%, rgba(0,0,0,1) 16%, rgba(0,0,0,1) 24%, rgba(255,255,255,1) 24%, rgba(255,255,255,1) 28%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 38%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 42%, rgba(0,0,0,1) 42%, rgba(0,0,0,1) 54%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 58%, rgba(0,0,0,1) 58%, rgba(0,0,0,1) 72%);
}

.footer-content {
  background-color: black;
  padding-bottom: 80px;
}
  .footer-content h1 {
    color: white;
    text-align: center;
    margin-bottom: 64px;
  }

.entry-wrapper{
	width: 100%;
	padding: 0 2.5vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.entry, .entry h1, .entry p{
	cursor: pointer;
}

.box{
	height: 260px;
	width: 260px;
	padding: 8px;
	background-color: white;
	background-size: contain;
	border: 1px solid black;
	margin-bottom: 12px;
	transition-property: transform, border;
	transition-duration: 250ms;
}

.entry h1, .entry p{
  text-align: center;
  color: white;
}

.entry h1{
	font-family: var(--secondary-font-family);
	font-size: 28px;
	margin: 8px 0;
}

.entry p{
	font-family: var(--primary-font-family);
	font-size: 14px;
	color: #777;
}

.entry:hover > .box{
  transform: scale(1.1);
  padding: 4px;
}

#backbone{
	background-image: url('../assets/home/pd.jpg');
}
#vertebrae{
	background-image: url('../assets/home/vertebrae.jpg');
}
#dev{
	background-image: url('../assets/home/dev.jpg');
}
#app{
	background-image: url('../assets/home/app.jpg');
}
#google{
	background-image: url('../assets/home/google.jpg');
}
#crooked{
	background-image: url('../assets/home/crooked.jpg');
}
#sustain{
	background-image: url('../assets/home/sustain.jpg');
}

.credits {
  font-family: var(--primary-font-family);
  text-align: center;
  margin: 200px 0 0;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}



/* ==========================
-- LIGHTBOX                --
========================== */

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 90, 0.72);
  text-align: center;
  cursor: -moz-zoom-out; 
  cursor: -webkit-zoom-out; 
  cursor: zoom-out;
  z-index: 999999;
}
  .lb-trigger {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
  #lb-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 24px;
  }
    #lb-larw {
      height: 40px;
      width: 40px;
      color: black;
    }
    #lb-close {
      height: 32px;
      /* width: 32px; */
      padding: 0 16px;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.64);
      border: 1px solid var(--primary-black);
      line-height: 32px;
      font-family: var(--secondary-font-family);
      position: absolute;
      top: 8px;
      right: calc(50% - 16px);
      opacity: 0.8;
    }
    p#lb-close {
      display: block;
      font-family: var(--secondary-font-family);
      color: white;
      margin: 12px;
    }
    #lightbox img {
      display: block;
      margin: 48px auto;
      border-radius: 1px;
      box-shadow: 0 0 24px 8px #444;
      max-width: 100%;
      max-height: calc(100vh - 80px);
    }
    #lightbox #lb-content img::before {
      content: 'click anywhere to close';
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      width: 100%;
      font-size: 12px;
      color: white;
    }